.container {
  max-width: 1280px;
  /* background-color: aqua */
  position: relative;
  top: -42px;
  background-color: white;
  border-radius: 0px 0px 10px 10px;
  padding: 0;
  border: 1px solid rgb(75, 74, 74);
  box-shadow: 3px 3px 20px #aaaaaa;
}
.total_form {
  padding: 15px;
}
.mat_form {
  margin-right: 10px;
  width: 100%;
}
.btn_timKiem {
  /* width: 120px;*/
  height: 55px;
  width: 100%;
  font-size: 17px;
}
.title_search {
  padding: 5px 10px 5px 10px;
  background-color: #40679e;
  color: white;
  font-size: 18px;
}
