<div class="container w-100">
    <h2 class="title_search"><i class="bi bi-search"></i> TÌM KIẾM TOUR</h2>
    <div class="row w-100 total_form">
        <div class="col-12 col-md-6 col-lg-3">
            <mat-form-field class="mat_form">
                <mat-label>Nơi đến</mat-label>
                <input type="text" matInput [matAutocomplete]="auto" [formControl]="NoiDen">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.tenTour}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="col-6 col-md-6 col-lg-3">
            <mat-form-field class="mat_form">
                <mat-label>Ngày đi</mat-label>
                <input matInput [matDatepicker]="picker1" [formControl]="NgayDi">
                <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <mat-form-field class="mat_form">
                <mat-label>Người lớn</mat-label>
                <input matInput type="number" [formControl]="SoNguoiLon">
            </mat-form-field>
        </div>
        <div class="col-6 col-md-3 col-lg-2">
            <mat-form-field class="mat_form">
                <mat-label>Trẻ em</mat-label>
                <input matInput type="number" [formControl]="SoTreEm">
            </mat-form-field>
        </div>
        <div class="col-6 d-flex justify-content-end col-md-6 col-lg-2">
            <button mat-raised-button color="primary" class="btn_timKiem" (click)="TimKiemTour()">Tìm kiếm</button>
        </div>
    </div>

</div>