<form [formGroup]="myForm" (ngSubmit)="suaDichVu($event)">
  <h1 mat-dialog-title>Sửa dịch vụ - {{model?.idDichVu}}</h1>
  <div mat-dialog-content>
    <!-- <mat-form-field>
        <mat-label>Mã dịch vụ</mat-label>
        <input matInput formControlName="idDichVu" readonly=""/>
      </mat-form-field> -->

    <mat-form-field>
      <mat-label>Tên dịch vụ</mat-label>
      <input matInput formControlName="tenDichVu"  [errorStateMatcher]="matcher"/>
      @if (tenDichVu?.errors?.['required']) {
        <mat-error>Vui lòng nhập tên dịch vụ</mat-error>
        } 
      @else if (tenDichVu?.errors?.['minlength']) {
        <mat-error>Tên dịch vụ quá ngắn</mat-error>
        }
      @else if (tenDichVu?.errors?.['maxlength']) {
          <mat-error>Tên dịch vụ quá dài</mat-error>
        }
      @else if (tenDichVu?.errors?.['invalidChar']) {
            <mat-error>Tên dịch vụ không chứa ký tự đặc biệt & số</mat-error>
        }    
    </mat-form-field>

    <mat-form-field>
      <mat-label>Đơn vị tính</mat-label>
      <input matInput formControlName="donViTinh"[errorStateMatcher]="matcher" />
      @if (donViTinh?.errors?.['required']) {
        <mat-error>Vui lòng nhập đơn vị tính</mat-error>
        } 
      @else if (donViTinh?.errors?.['minlength']) {
        <mat-error>Đơn vị tính quá ngắn</mat-error>
        }
      @else if (donViTinh?.errors?.['maxlength']) {
          <mat-error>Đơn vị tính quá dài</mat-error>
        }
        @else if (donViTinh?.errors?.['invalidChar']) {
          <mat-error>Đơn vị tính không chứa ký tự đặc biệt & số</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Giá tiền</mat-label>
      <input matInput formControlName="giaTien"[errorStateMatcher]="matcher" />
      @if (giaTien?.errors?.['required']) {
        <mat-error>Vui lòng nhập giá tiền</mat-error>
        } 
      @else if (giaTien?.errors?.['min']) {
        <mat-error>Giá tiền không được dưới 10000</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tình trạng</mat-label>
      <mat-select formControlName="tinhTrang">
        <mat-option value="Đang hoạt động">Đang hoạt động</mat-option>
        <mat-option value="Ngưng hoạt động">Ngưng hoạt động</mat-option>
        <mat-option value="Tạm dừng">Tạm dừng</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field> -->
    <br>
    <mat-label>Giờ bắt đầu</mat-label>
    <input matInput id='element' formControlName="gioBatDau" />
    <!-- </mat-form-field> -->
    <!-- <mat-form-field> -->
    <mat-label>Giờ kết thúc</mat-label>
    <input matInput id='element2' color="primary" formControlName="gioKetThuc" />
    <!-- </mat-form-field> -->
    <mat-form-field style="width: 98%;">
      <mat-label>Ngày thêm</mat-label>
      <input matInput formControlName="ngayThem" readonly="" />
    </mat-form-field>
  </div>
  <div mat-dialog-actions align="end">
    <button (click)="ClosePopup()" mat-dialog-close mat-raised-button color="warn">Đóng</button>
    <button mat-raised-button color="primary" [disabled]="myForm.invalid">Lưu</button>
    <!-- <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Hủy</button> -->
  </div>
</form>