<div class="container-fluid">
    <div class="row">
      <!-- Main Sidebar -->
      <app-main-sidebar class="p-0" style="z-index: 1;"></app-main-sidebar>
      <!-- End Main Sidebar -->
      <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
        <div class="main-navbar sticky-top bg-white" style="z-index: 1;">
          <!-- Main Navbar -->
          <app-main-navbar></app-main-navbar>
        </div>
        <!-- / .main-navbar -->
  
  
  
        <!-- Start dịch vụ -->
        <div class="main-content-container container-fluid px-4">
            <div class="page-header row no-gutters py-4">
              <div class="QuanLuTour_container">
              <div class="row">
                <div class="col-lg-3 d-flex align-items-center">   <button
                  mat-raised-button
                  color="primary"
                  class="mb-3"
                  (click)="themNhanVien()"
                >
                  Thêm nhân viên (+)
                </button></div>
                <div class="col-lg-6 d-flex align-items-center">
                  <mat-form-field>
                    <mat-label>Tìm kiếm</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Nhập từ khóa tìm kiếm" #input />
                  </mat-form-field>
                </div>
                <div class="col-lg-3 d-flex align-items-center justify-content-end">
                  <div class="example-disabled">
                    <button mat-stroked-button class="ms-1">
                      <i class="bi bi-printer"></i>
                    </button>
                    <button mat-stroked-button class="ms-1">
                      <i class="bi bi-copy"></i>
                    </button>
                    <button mat-stroked-button class="ms-1">
                      <i class="bi bi-file-earmark-spreadsheet"></i>
                    </button>
                    <button mat-stroked-button class="ms-1">
                      <i class="bi bi-filetype-pdf"></i>
                    </button>
                  </div>
  
                </div>
              </div>
                <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="idNhanVien">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Mã nhân viên
                      </th>
                      <td mat-cell *matCellDef="let row">{{ row.idNhanVien }}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="tenNhanVien">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Tên nhân viên
                      </th>
                      <td mat-cell *matCellDef="let row">{{ row.tenNhanVien }}</td>
                    </ng-container>
    
                    <ng-container matColumnDef="soDienThoai">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                       Số điện thoại
                      </th>
                      <td mat-cell *matCellDef="let row">{{ row.soDienThoai }}</td>
                    </ng-container>
    
                    <!-- GiaTien Column -->
                    <ng-container matColumnDef="gioiTinh">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                       Giới tính
                      </th>
                      <td mat-cell *matCellDef="let row">{{ row.gioiTinh }}</td>
                    </ng-container>
  
                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                       Email
                      </th>
                      <td mat-cell *matCellDef="let row">{{ row.email }}</td>
                    </ng-container>
  
                     <ng-container matColumnDef="ngaySinh">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      Ngày sinh
                    </th>
                    <td mat-cell *matCellDef="let row">
                      {{ row.ngaySinh | date : "dd/MM/yyyy" }}
                    </td>
                  </ng-container>
    
    
                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef>Hành động</th>
                      <td mat-cell *matCellDef="let element">
                        <button
                          mat-raised-button
                          color="primary"
                         (click)="suaNhanVien(element.idNhanVien)"
                          class="m-1"
                        >
                          <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <button mat-raised-button color="warn" class="m-1" (click)="XoaNhanVien(element.idNhanVien)">
                          <i class="bi bi-trash3"></i>
                        </button>
                      </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: displayedColumns"
                    ></tr>
    
                    <!-- Row shown when there is no matching data. -->
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="7">
                        Không có dữ liệu phù hợp với từ khóa "{{ input.value }}"
                      </td>
                    </tr>
                  </table>
    
                  <mat-paginator
                    [pageSizeOptions]="[5, 10, 25, 100]"
                    aria-label="Select page of users"
                  ></mat-paginator>
                </div>
    
               
              </div>
                
  
            </div>
        </div>
        <!-- End dịch vụ -->
  
  
  
  
  
        <app-footer-main-admin></app-footer-main-admin>
      </main>
    </div>
  </div>