<div class="container-fluid">
  <div class="row">
    <!-- Main Sidebar -->
    <app-main-sidebar class="p-0"></app-main-sidebar>
    <!-- End Main Sidebar -->
    <main
      class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3"
    >
      <div class="main-navbar sticky-top bg-white">
        <!-- Main Navbar -->
        <app-main-navbar></app-main-navbar>
      </div>
      <!-- / .main-navbar -->

      <!-- Start Trang chủ -->
      <div class="main-content-container container-fluid px-4">
        <div class="page-header row no-gutters py-4">
         <div class="chart">
          <div class="tiLeDatTour">
            <highcharts-chart 
            [Highcharts]="tiLeDatHuyChart"
            [options]="tiLeDatHuyCharttOptions"
          
            style="width: 100%; height: 400px; display: block;"
          ></highcharts-chart>
          </div>
          
       
          <div class="DoanhThuChart">
            <highcharts-chart 
            [Highcharts]="DoanhThucharts"
            [options]="DoanhThuchartsOptions"
          
            style="width: 100%; height: 400px; display: block;"
          ></highcharts-chart>
          </div>
          <div class="Dichvu">
            <highcharts-chart 
            [Highcharts]="dichVuDaDat"
            [options]="dichVuDaDatOptions"
          
            style="width: 100%; height: 400px; display: block;"
          ></highcharts-chart>
          </div>
            <div class="tourDuLich">
              <highcharts-chart 
              [Highcharts]="TourDaDat"
              [options]="TourDaDatOptions"
            
              style="width: 100%; height: 400px; display: block;"
            ></highcharts-chart>
            </div>
         </div>


















        </div>
      </div>
      <!-- End trang chủ -->

      <app-footer-main-admin></app-footer-main-admin>
    </main>
  </div>
</div>
