<div class="container-fluid">
    <div class="row">
      <!-- Main Sidebar -->
      <app-main-sidebar class="p-0"></app-main-sidebar>
      <!-- End Main Sidebar -->
      <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
        <div class="main-navbar sticky-top bg-white">
          <!-- Main Navbar -->
          <app-main-navbar></app-main-navbar>
        </div>
        <!-- / .main-navbar -->



        <!-- Start dịch vụ -->
        <div class="main-content-container container-fluid px-4">
            <div class="page-header row no-gutters py-4">
                <h1>Dich vu</h1>

            </div>
        </div>
        <!-- End dịch vụ -->





        <app-footer-main-admin></app-footer-main-admin>
      </main>
    </div>
  </div>