<form [formGroup]="themNhanVien" (ngSubmit)="ThemNhanVien()" style="z-index: 999;">
  <h1 mat-dialog-title>Thêm mới nhân viên</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Tên nhân viên</mat-label>
      <input matInput formControlName="tenNhanVien" [errorStateMatcher]="matcher"/>
      @if (tenNhanVien?.errors?.['required']) {
        <mat-error>Họ và tên không được để trống</mat-error>
        } 
      @else if (tenNhanVien?.errors?.['minlength']) {
        <mat-error>Họ và tên nhân viên quá ngắn</mat-error>
        }
      @else if (tenNhanVien?.errors?.['maxlength']) {
        <mat-error>Họ và tên nhân viên quá dài</mat-error>
        }
      @else if (tenNhanVien?.errors?.['invalidChar']) {
        <mat-error>Họ và tên nhân viên quá ngắn không chứa ký tự đặc biệt & số</mat-error>
        }
      @else if (tenNhanVien?.errors?.['whitespace']) {
        <mat-error>Họ và tên nhân viên không chứa khoảng trắng</mat-error>
        }  
    </mat-form-field>

    <mat-form-field>
      <mat-label>Số điện thoại</mat-label>
      <input type="text" maxlength="10" matInput formControlName="soDienThoai" [errorStateMatcher]="matcher"/>
      @if (soDienThoai?.errors?.['required']) {
        <mat-error>Số điện thoại không được để trống</mat-error>
        } 
      @else if (soDienThoai?.errors?.['minlength']) {
        <mat-error>Số điện thoại không hợp lệ</mat-error>
        }
      @else if (soDienThoai?.errors?.['maxlength']) {
          <mat-error>Số điện thoại không hợp lệ</mat-error>
        }
      @else if (soDienThoai?.errors?.['invalidSDT']) {
          <mat-error>Số điện thoại đã tồn tại</mat-error>
        } 
      @else if (soDienThoai?.errors?.['pattern']) {
          <mat-error>Số điện thoại phải bắt đầu bằng số 0</mat-error>
        } 
      @else if (soDienThoai?.errors?.['whitespace']) {
          <mat-error>Số điện thoại không chứa khoảng trắng</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
      <mat-label>CCCD</mat-label>
      <input type="text" maxlength="12" matInput formControlName="cccd" [errorStateMatcher]="matcher"/>
      @if (cccd?.errors?.['required']) {
        <mat-error>CCCD không được để trống</mat-error>
        } 
      @else if (cccd?.errors?.['minlength']) {
        <mat-error>CCCD không hợp lệ</mat-error>
        }
      @else if (cccd?.errors?.['maxlength']) {
          <mat-error>CCCD không hợp lệ</mat-error>
        }
      @else if(cccd?.errors?.['invalidCCCD']){
          <mat-error>Căn cước công dân đã tồn tại</mat-error>
        }
      @else if(cccd?.errors?.['whitespace']){
          <mat-error>Căn cước công dân không chứa khoảng trắng</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ngày sinh</mat-label>
      <input matInput [matDatepicker]="picker" name="ngaySinh" [errorStateMatcher]="matcher"
          id="ngaySinh" formControlName="ngaySinh" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      @if (ngaySinh?.errors?.['required']) {
        <mat-error>Ngày sinh không được để trống</mat-error>
        }
      @else if (ngaySinh?.errors?.['ageInvalid']) {
        <mat-error>Nhân viên phải lớn hơn 18 tuổi</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Giới tính</mat-label>
      <mat-select  name="gioiTinh"
          formControlName="gioiTinh">
          <mat-option value="Nam">Nam</mat-option>
          <mat-option value="Nữ">Nữ</mat-option>
      </mat-select>
      @if (gioiTinh?.errors?.['required']) {
        <mat-error>Giới tính không được để trống</mat-error>
        }
  </mat-form-field>



  <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" [errorStateMatcher]="matcher"
         formControlName="email">
         @if (email?.errors?.['required']) {
          <mat-error>Email không được để trống</mat-error>
          } 
        @else if (email?.errors?.['minlength']) {
          <mat-error>Email không hợp lệ</mat-error>
          }
        @else if (email?.errors?.['maxlength']) {
            <mat-error>Email không hợp lệ</mat-error>
          }
        @else if (email?.errors?.['pattern']) {
            <mat-error>Email không hợp lệ</mat-error>
          }
        @else if (email?.errors?.['invalidEmail']) {
            <mat-error>Email đã tồn tại</mat-error>
          }
        @else if (email?.errors?.['whitespace']) {
            <mat-error>Email không chứa khoảng trắng</mat-error>
          }
  </mat-form-field>

  <mat-form-field>
    <mat-label>Địa chỉ</mat-label>
    <input matInput id="diaChi" name="diaChi" formControlName="diaChi" [errorStateMatcher]="matcher"/>
    @if (diaChi?.errors?.['required']) {
      <mat-error>Địa chỉ không được để trống</mat-error>
      } 
    @else if (diaChi?.errors?.['minlength']) {
      <mat-error>Địa chỉ không hợp lệ</mat-error>
      }
    @else if (diaChi?.errors?.['maxlength']) {
      <mat-error>Địa chỉ không hợp lệ</mat-error>
      }
    @else if (diaChi?.errors?.['whitespace']) {
        <mat-error>Địa chỉ không chứa khoảng trắng</mat-error>
        }
</mat-form-field>
<mat-form-field>
  <mat-label>Chức vụ</mat-label>
  <mat-select 
      formControlName="chucVu">
      <mat-option value="Nhân viên">Nhân viên</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Ngày vào làm</mat-label>
  <input matInput [matDatepicker]="picker1"  [errorStateMatcher]="matcher"
     formControlName="ngayVaoLam" >
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
  @if (ngayVaoLam?.errors?.['required']) {
    <mat-error>Vui lòng nhập ngày/tháng/năm vào làm</mat-error>
    }
</mat-form-field>

  </div>
  <div mat-dialog-actions align="end">
    <button (click)="ClosePopup()" mat-dialog-close mat-raised-button color="warn">Đóng</button>
    <button mat-raised-button color="primary" [disabled]="themNhanVien.invalid" >Lưu</button>
    <!-- <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Hủy</button> -->
  </div>
</form>