
<form [formGroup]="myForm" (ngSubmit)="themDichVu()">
    <h1 mat-dialog-title>Thêm mới dịch vụ</h1>
    <div mat-dialog-content>
      <mat-form-field>
        <mat-label>Tên dịch vụ</mat-label>
        <input matInput formControlName="tenDichVu"/>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Đơn vị tính</mat-label>
        <input matInput formControlName="donViTinh"/>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Giá tiền</mat-label>
        <input matInput formControlName="giaTien"/>
      </mat-form-field>
      <!-- <mat-form-field> -->
        <br>
        <mat-label>Giờ bắt đầu</mat-label>
        <input matInput id='element' formControlName="gioBatDau"/>
      <!-- </mat-form-field> -->
      <!-- <mat-form-field> -->
        <mat-label>Giờ kết thúc</mat-label>
        <input matInput id='element2' color="primary" formControlName="gioKetThuc"/>
      <!-- </mat-form-field> -->
  
    </div>
    <div mat-dialog-actions>
      <button mat-raised-button color="primary">Lưu</button>
      <button (click)="ClosePopup()" mat-raised-button color="warn">Đóng</button>
      <!-- <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Hủy</button> -->
    </div>
  </form>
  