<form [formGroup]="myForm" (ngSubmit)="themDichVu()" style="z-index: 999;">
  <h1 mat-dialog-title>Thêm mới dịch vụ</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Tên dịch vụ</mat-label>
      <input matInput formControlName="tenDichVu" [errorStateMatcher]="matcher" />
      @if (tenDichVu?.errors?.['required']) {
        <mat-error>Vui lòng nhập tên dịch vụ</mat-error>
        } 
      @else if (tenDichVu?.errors?.['minlength']) {
        <mat-error>Tên dịch vụ quá ngắn</mat-error>
        }
      @else if (tenDichVu?.errors?.['maxlength']) {
          <mat-error>Tên dịch vụ quá dài</mat-error>
        }
      @else if (tenDichVu?.errors?.['invalidChar']) {
            <mat-error>Tên dịch vụ không chứa ký tự đặc biệt & số</mat-error>
        }    
    </mat-form-field>

    <mat-form-field>
      <mat-label>Đơn vị tính</mat-label>
      <input matInput formControlName="donViTinh" [errorStateMatcher]="matcher" />
      @if (donViTinh?.errors?.['required']) {
        <mat-error>Vui lòng nhập đơn vị tính</mat-error>
        } 
      @else if (donViTinh?.errors?.['minlength']) {
        <mat-error>Đơn vị tính quá ngắn</mat-error>
        }
      @else if (donViTinh?.errors?.['maxlength']) {
          <mat-error>Đơn vị tính quá dài</mat-error>
        }
      @else if (donViTinh?.errors?.['invalidChar']) {
          <mat-error>Đơn vị tính không chứa ký tự đặc biệt & số</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
      <mat-label>Giá tiền</mat-label>
      <input matInput formControlName="giaTien" type="number" [errorStateMatcher]="matcher" />
      @if (giaTien?.errors?.['required']) {
        <mat-error>Vui lòng nhập giá tiền</mat-error>
        } 
      @else if (giaTien?.errors?.['min']) {
        <mat-error>Giá tiền không được dưới 10000</mat-error>
        }
    </mat-form-field>
    <!-- <mat-form-field> -->
    <br>
    <div class="row">
      <div style="margin: 1%; width: 48%;">
        <mat-label>Giờ bắt đầu</mat-label>
          <input matInput id='element' formControlName="gioBatDau" />
      </div>
      <div style="margin: 1%; width: 48%;">
        <mat-label>Giờ kết thúc</mat-label>
        <input matInput id='element2' color="primary" formControlName="gioKetThuc" />
      </div>
    </div>

  </div>
  <div mat-dialog-actions align="end">
    <button (click)="ClosePopup()" mat-dialog-close mat-raised-button color="warn">Đóng</button>
    <button mat-raised-button color="primary"  [disabled]="myForm.invalid">Lưu</button>
    <!-- <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Hủy</button> -->
  </div>
</form>