<div class="wrapper ">
    <div class="sticky-container">
        <app-sidebar-nav class="sticky-item"></app-sidebar-nav>
    </div>

    <div class="main">
        <app-header-admin></app-header-admin>
        <div class="container-fluid">
            <h2>Quản lý đặt Tour</h2>
            <div class="mt-4">
                <div class="total_card row d-flex justify-content-center">
                    @for(item of TourDuLich; track $index){
                    <div class="card_tour col-lg-3">
                        <div class="div_img">
                            <div class="tinhTrang"><span class="  badge rounded-pill bg-success">
                                    Đang giảm giá
                                </span></div>
                            <div> <img class="img_tour" [src]="item.AnhTourDauTien" alt=""></div>
                        </div>
                        <div class="title_tour">
                            <span>{{item.tenTour}} </span>
                        </div>

                        <div class="card_tour_text">
                            <div class="total_time_tour">
                                <i class="bi bi-clock"></i> {{item.SoNgayDem}}
                            </div>
                            <div class="start_time_tour">
                                <i class="bi bi-calendar-check"></i> {{item.thoiGianBatDau}}
                            </div>

                            <div class="spot_remaining">
                                <i class="bi bi-person"></i> Còn {{item.soChoConNhan}} chỗ
                            </div>
                            <div class="price_tour d-flex justify-content-end">
                                <span class="price_tour_text">{{item.giaNguoiLon | number:'':'en'}} đ</span>
                            </div>
                            <div class="btn_bothBuy row gx-2">
                                <div class="col-sm-6 mt-1">
                                    <button type="button" class="btn_DatTour equal w-100" data-bs-toggle="modal"
                                        data-bs-target="#datTourModal" (click)="LayTourDuLich(item.idTour)">
                                        Đặt tour
                                    </button>
                                </div>
                                <div class="col-sm-6 mt-1">
                                    <button type="button" class="btn_ThanhToan equal w-100" data-bs-toggle="modal"
                                        data-bs-target="#thanhToanModal" (click)="LayThanhToanTourDuLich(item.idTour)">
                                        Thanh toán
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                    }




                </div>


            </div>

        </div>
    </div>
</div>

<!-- modal -->
<!-- Modal Đặt tour -->
<div class="modal fade" id="datTourModal" tabindex="-1" aria-labelledby="datTourModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            @if(model){


            <div class="modal-header">
                <h5 class="modal-title" id="datTourModalLabel">Đặt tour - {{model.idTour}} </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid p-0">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#datTour">Nhập thông tin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#chiTietTour">Thông
                                tin tour</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#dichVu">Dịch vụ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " data-bs-toggle="tab" href="#khachHangMoi">Khách hàng mới</a>
                        </li>


                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="datTour">
                            <!-- Nội dung tab Đặt tour -->
                            <form>
                                <div class="row">
                                    <!-- <div class="col-lg-4">
                                        <label for="IdDatTour" class="form-label">Id Đặt Tour</label>
                                        <input type="text" class="form-control" id="IdDatTour" required>
                                    </div> -->
                                    <div class="col-lg-6">
                                        <label for="IdTour" class="form-label">Tên tour</label>
                                        <input type="text" class="form-control" disabled
                                            value="Tour Nhật Bản 5N5Đ: Osaka - Kyoto - Yamanashi Fuji - Tokyo - Mùa Hè Rực Rỡ"
                                            id="IdTour" [(ngModel)]="model.tenTour" name="TenTour" required>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="exampleDataList" class="form-label">Tên khách hàng</label>
                                        <input spellcheck="false" class="form-control" [formControl]="TenKhachHang"
                                            (input)="selectValueKhachHang($event)" list="datalistOptions"
                                            id="exampleDataList" placeholder="Type to search...">

                                        <datalist id="datalistOptions">

                                            @for(item of arrKhachHang; track $index){
                                            <option [value]="item.soDienThoai + '-' + item.email">
                                                {{item.tenKhachHang}}
                                            </option>

                                            }
                                        </datalist>
                                    </div>

                                    <div class="col-lg-3">
                                        <label for="NgayDat" class="form-label">Ngày đặt</label>
                                        <input type="datetime-local" disabled class="form-control"
                                            [(ngModel)]="NgayDatTour" name="NgayThem" id="NgayDat" required>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        <label for="SoLuongTreEm" class="form-label">Số lượng người
                                            lớn({{model.soLuongNguoiLon}})</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="btn btn-outline-secondary btn_sl"
                                                    (click)="TinhSoLuongNguoiDuTour('NguoiLon','Tru')">-</span>
                                            </div>
                                            <input type="number" class="form-control" id="SoLuongTreEm"
                                                (input)="TinhTongTien()" [(ngModel)]="SoLuongNguoiLon_DatTour"
                                                name="SoLuongNguoiLon" required>
                                            <div class="input-group-append">
                                                <span class="btn btn-outline-secondary btn_sl"
                                                    (click)="TinhSoLuongNguoiDuTour('NguoiLon','Cong')">+</span>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="col-sm-6 col-md-6 col-lg-3">
                                        <label for="SoLuongTreEm" class="form-label">Số lượng trẻ
                                            em({{model.soLuongTreEm}})</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="btn btn-outline-secondary btn_sl"
                                                    (click)="TinhSoLuongNguoiDuTour('TreEm','Tru')">-</span>
                                            </div>
                                            <input type="number" [(ngModel)]="SoLuongTreEm_DatTour"
                                                (input)="TinhTongTien()" name="SoLuongTreEm" class="form-control"
                                                id="SoLuongTreEm" required>
                                            <div class="input-group-append">
                                                <span class="btn btn-outline-secondary btn_sl"
                                                    (click)="TinhSoLuongNguoiDuTour('TreEm','Cong')">+</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="IdNhanVien" class="form-label">Giá trẻ em</label>
                                        <input type="text" disabled [(ngModel)]="model.giaTreEm" name="GiaNguoiLon"
                                            class="form-control" id="IdNhanVien" required>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="IdNhanVien" class="form-label">Giá người lớn</label>
                                        <input type="text" disabled [(ngModel)]="model.giaNguoiLon " name="GiaNguoiLon"
                                            class="form-control" id="IdNhanVien" required>
                                    </div>

                                    <div class="col-lg-3">
                                        <label for="IdNhanVien" class="form-label">Tên nhân viên</label>
                                        <input type="text" [(ngModel)]="TenNhanVien" name="TenNhanVien" disabled
                                            class="form-control" id="IdNhanVien" required>
                                    </div>

                                    <div class="col-lg-3">
                                        <label for="IdNhanVien" class="form-label">Số chỗ còn</label>
                                        <input type="text" disabled [(ngModel)]="model.soChoConNhan" name="soChoConNhan"
                                            class="form-control" id="IdNhanVien" required>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="NgayDat" class="form-label">Ngày khởi hành</label>
                                        <input type="datetime-local" disabled [(ngModel)]="model.thoiGianBatDau"
                                            name="ngaykhoihanh" class="form-control" id="NgayDat" required>
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="NgayDat" class="form-label">Dịch vụ đi kèm</label>
                                        <input type="text" disabled [(ngModel)]="model.dichVuDiKem" name="dichVu"
                                            class="form-control" id="NgayDat" required>
                                    </div>
                                    <div class="col-12col-sm-12 col-md-12 col-lg-12">
                                        <label for="GhiChu" class="form-label">Ghi
                                            Chú</label>
                                        <textarea class="form-control" [(ngModel)]="GhiChu_DatTour" name="GhiChu"
                                            id="GhiChu" rows="3"></textarea>
                                    </div>
                                    <div class="col-12col-sm-12 col-md-12 col-lg-6 mt-3">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Số chỗ người lớn</th>
                                                    <th>Số chỗ trẻ em</th>
                                                    <th>Giá người lớn</th>
                                                    <th>Giá trẻ em</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td>2</td>
                                                    <td>{{model.giaNguoiLon}}</td>
                                                    <td>{{model.giaTreEm}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-lg-1"></div>
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-5 ">
                                        <div class="mt-3 " style="border-radius: 5px;">
                                            <div>
                                                <h5>Chi tiết thanh toán</h5>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <span>Thời gian tour: </span><span><b>{{SoNgayDem}}</b></span>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <span>Số lượng người lớn: </span><span><b>{{SoLuongNguoiLon_DatTour}} x
                                                        {{model.giaNguoiLon }}đ </b></span>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <span>Số lượng trẻ em: </span><span><b>{{SoLuongTreEm_DatTour}} x
                                                        {{model.giaTreEm }}đ</b></span>
                                            </div>
                                            <div class="d-flex justify-content-between">
                                                <span>Tổng tiền: </span><span class="price_tour_text">{{TongTien_DatTour
                                                    | number:'':'en'}}đ</span>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </form>

                        </div>
                        <div class="tab-pane fade" id="chiTietTour">
                            <div class="card mt-2">

                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col col-12 col-lg-4 text-nowrap"><strong>Tên tour:</strong>
                                                {{model.tenTour}}
                                            </div>
                                            <div class="col col-12 col-lg-4 text-nowrap"><strong>Loại tour:</strong>
                                                {{model.loaiTour}}</div>
                                            <div class="col col-12 col-lg-4 text-nowrap"><strong>Phương tiện di
                                                    chuyển:</strong>
                                                {{model.phuongTienDiChuyen}}</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col text-nowrap"><strong>Tình trạng:</strong>
                                                {{model.tinhTrang}}</div>
                                            <div class="col text-nowrap"><strong>Số lượng người lớn:</strong>
                                                {{model.soLuongNguoiLon}}</div>
                                            <div class="col text-nowrap"><strong>Số lượng trẻ em:</strong>
                                                {{model.soLuongTreEm}}</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col text-nowrap"><strong>Thời gian bắt đầu:</strong>
                                                {{model.thoiGianBatDau}} </div>
                                            <div class="col text-nowrap"><strong>Thời gian kết thúc:</strong>
                                                {{model.thoiGianKetThuc}}</div>
                                            <div class="col text-nowrap"><strong>Nơi khởi hành:</strong>
                                                {{model.noiKhoiHanh}}</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col text-nowrap"><strong>Số chỗ còn nhận:</strong>
                                                {{model.soChoConNhan}}</div>
                                            <div class="col text-nowrap"><strong>Đối tác:</strong> {{model.idDoiTac}}
                                            </div>
                                            <div class="col text-nowrap"><strong>Giá trẻ em:</strong>
                                                {{model.giaTreEm}}</div>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="row">
                                            <div class="col text-nowrap"><strong>Giá người lớn:</strong>
                                                {{model.giaNguoiLon}}
                                            </div>
                                            <div class="col text-nowrap"><strong>Ngày thêm:</strong> {{model.ngayThem}}
                                            </div>
                                            <div class="col text-nowrap"><strong>Dịch vụ đi kèm:</strong>
                                                {{model.dichVuDiKem}}</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="dichVu">
                            <!-- Nội dung tab Dịch vụ -->
                            3
                        </div>
                        <div class="tab-pane fade" id="khachHangMoi">
                            <!-- Nội dung tab Dịch vụ -->
                            <form (ngSubmit)="onSubmitThemKhachHang()">
                                <div class="row">
                                    <!-- <div class="col-lg-4" hidden>
                                        <label for="IdKhachHang" class="form-label">Mã khách hàng</label>
                                        <input type="text" class="form-control" id="IdKhachHang" [(ngModel)]="themKhachHang.idKhachHang">
                                    </div> -->
                                    <div class="col-lg-3">
                                        <label class="form-label">Tên khách hàng</label>
                                        <input type="text" class="form-control"
                                            id="tenKhachHang" name="tenKhachHang" placeholder="Nhập tên khách hàng..." [(ngModel)]="themKhachHang.tenKhachHang">
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="exampleDataList" class="form-label">Số điện thoại</label>
                                        <input type="text" class="form-control"
                                        id="soDienThoai" name="soDienThoai" placeholder="Nhập số điện thoại..." [(ngModel)]="themKhachHang.soDienThoai">
                                    </div>

                                    <div class="col-lg-3">
                                        <label for="exampleDataList" class="form-label">Địa chỉ</label>
                                        <input type="text" class="form-control"
                                        id="diaChi" name="diaChi" placeholder="Nhập địa chỉ..." [(ngModel)]="themKhachHang.diaChi">
                                    </div>
                                    <div class="col-lg-3">
                                        <label for="exampleDataList" class="form-label">CCCD</label>
                                        <input type="text" class="form-control"
                                        id="cCCD" name="cccd" placeholder="Nhập CCCD..." [(ngModel)]="themKhachHang.cccd">
                                    </div>

                                    <div class="col-lg-3">
                                        <label class="form-label">Ngày sinh</label>
                                        <input type="date"
                                            name="ngaySinh" class="form-control" id="ngaySinh" [(ngModel)]="themKhachHang.ngaySinh">
                                    </div>

                                    
                                    <div class="col-lg-3">
                                        <label class="form-label">Giới tính</label>
                                        <select class="form-select" id="gioiTinh" name="gioiTinh" [(ngModel)]="themKhachHang.gioiTinh">
                                          <option value="Nam">Nam</option>
                                          <option value="Nữ">Nữ</option>
                                        </select>
                                      </div>
                                      

                                    <div class="col-lg-3">
                                        <label class="form-label">Email</label>
                                        <input type="text" class="form-control"
                                        id="email" name="email" placeholder="Nhập email..." [(ngModel)]="themKhachHang.email">
                                    </div>

                                   

        
                                    
                                    <div class="col-lg-1"></div>
                                    
                                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 " style="text-align: right;">
                                        <div class="mt-3 " style="border-radius: 5px;">
                                           <button class="btn btn-primary" type="submit">Thêm khách hàng</button>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                            </form>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" (click)="DatTour()">Đặt tour</button>
            </div>
            }
        </div>
    </div>
</div>

<!-- Modal Thanh toán -->
<div class="modal fade" id="thanhToanModal" tabindex="-1" aria-labelledby="thanhToanModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="thanhToanModalLabel">Tra cứu khách hàng - {{idTour_ThanhToan}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">


                    <div>
                        <label for="NgayDat" class="form-label">Tên khách hàng</label>
                        <input spellcheck="false" class="form-control" [formControl]="TenKhachHang_ThanhToan"
                            (input)="selectValueKhachHangThanhToan($event)" list="datalistOptions" id="exampleDataList"
                            placeholder="Tra cứu khách hàng...">

                        <datalist id="datalistOptions">

                            @for(item of arrKhachHangThanhToan; track $index){
                            <option [value]="item.soDienThoai + '-' + item.email">
                                {{item.tenKhachHang}}
                            </option>

                            }
                        </datalist>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#thanhToanModal1"
                    [disabled]="foundKhachHang==false" (click)="ThongTinThanhToan()">
                    Tra cứu thông tin
                </button>
            </div>
        </div>
    </div>
</div>


@if(foundKhachHang){
<div class="modal fade " id="thanhToanModal1" tabindex="-1" aria-labelledby="thanhToanModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="thanhToanModalLabel">Thanh toán - {{idTour_ThanhToan}} -
                    {{KhachHangBamTraCuu[0].idKhachHang}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4">
                        <h5>Thông tin khách hàng</h5>

                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <th>Mã khách hàng</th>
                                    <td>{{KhachHangBamTraCuu[0].idKhachHang}}</td>
                                </tr>
                                <tr>
                                    <th>Tên khách hàng</th>
                                    <td>{{KhachHangBamTraCuu[0].tenKhachHang}}</td>
                                </tr>
                                <tr>
                                    <th>Số điện thoại</th>
                                    <td>{{KhachHangBamTraCuu[0].soDienThoai}}</td>
                                </tr>
                                <tr>
                                    <th>Địa chỉ</th>
                                    <td>{{KhachHangBamTraCuu[0].diaChi}}</td>
                                </tr>
                                <tr>
                                    <th>CCCD</th>
                                    <td>{{KhachHangBamTraCuu[0].cccd}}</td>
                                </tr>
                                <tr>
                                    <th>Ngày sinh</th>
                                    <td>{{KhachHangBamTraCuu[0].ngaySinh}}</td>
                                </tr>
                                <tr>
                                    <th>Giới tính</th>
                                    <td>{{KhachHangBamTraCuu[0].gioiTinh}}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td>{{KhachHangBamTraCuu[0].email}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    @if(TourThanhToan_HienThi){
                    <div class="col-lg-4">
                        <h5>Thông tin đặt tour</h5>
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <th>Mã đặt tour</th>
                                    <td>{{TourThanhToan_HienThi.idDatTour}}</td>
                                </tr>

                                <tr>
                                    <th>Mã tour</th>
                                    <td>{{TourThanhToan_HienThi.idTour}}</td>
                                </tr>

                                <tr>
                                    <th>Tour du lịch</th>
                                    <td>{{TourThanhToan_HienThi.tourDuLich}}</td>
                                </tr>
                                <tr>
                                    <th>SL người lớn</th>
                                    <td>{{TourThanhToan_HienThi.soLuongNguoiLon}}</td>
                                </tr>
                                <tr>
                                    <th>SL trẻ em</th>
                                    <td>{{TourThanhToan_HienThi.soLuongTreEm}}</td>
                                </tr>
                                <tr>
                                    <th>Ghi chú</th>
                                    <td>{{TourThanhToan_HienThi.ghiChu}}</td>
                                </tr>
                                <tr>
                                    <th>Nhân viên</th>
                                    <td>{{TourThanhToan_HienThi.idNhanVien}}</td>
                                </tr>
                                <tr>
                                    <th>Thời gian đặt tour</th>
                                    <td>{{TourThanhToan_HienThi.thoiGianDatTour}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                    <div class="col-lg-4">
                        <h5>Thông tin thanh toán</h5>
                        <table class="table table-bordered table-striped w-100">
                            <thead>
                                <tr>
                                    <th>Giá người lớn</th>
                                    <th>Giá trẻ em</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2.000.000</td>
                                    <td>3.000.000</td>
                                </tr>
                                <tr>
                                    <th>Thời gian tour</th>
                                    <td class="text-right">{{LayTourDangThanhToan.SoNgayDem}}</td>
                                </tr>
                                <tr>
                                    <th>Sl người lớn</th>
                                    <td class="text-right">{{TourThanhToan_HienThi.soLuongNguoiLon}} x
                                        {{LayTourDangThanhToan.giaNguoiLon| number:'':'en'}}</td>
                                </tr>
                                <tr>
                                    <th>Sl trẻ em</th>
                                    <td class="text-right">{{TourThanhToan_HienThi.soLuongTreEm}} x
                                        {{LayTourDangThanhToan.giaTreEm| number:'':'en'}}</td>
                                </tr>
                                <tr>
                                    <th>Tổng cộng</th>
                                    <td class="text-right">{{TongTien_ThanhToan| number:'':'en'}}</td>
                                </tr>

                                <tr>
                                    <th class="align-middle">Phương thức thanh toán</th>
                                    <td class="text-right align-middle">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="traTruoc">
                                            <label class="form-check-label" for="traTruoc">
                                                Trả trước
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="traSau">
                                            <label class="form-check-label" for="traSau">
                                                Trả sau
                                            </label>
                                        </div>
                                    </td>
                                </tr>


                            </tbody>
                        </table>
                    </div>

                    }

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary">Thanh toán</button>
            </div>
        </div>
    </div>
</div>
}