<ng-container *ngFor="let tourType of topTourTypes ;let i = index">
    @if(i%2===0){
    <div class="container-fluid bg-white">

        <div class="total_card gx-3 gy-3 row d-flex justify-content-center">
            <p class="text-center title_typeTour" style="font-size: 29px; font-weight: 600;">Du lịch Buôn Ma Thuột -
                {{tourType}}
            </p>
            <ng-container class="row p-0" *ngFor="let tour of getToursByType(tourType)">

                <div class="col col-lg-3 col-md-auto  col-sm-12 col-12">
                    <a class="travel-card w-md-100">
                        <div class="image">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                        </div>
                        <div class="content">
                            <label class="category">{{tour.loaiTour}}</label>
                            <h1 class="topic">{{tour.tenTour}}</h1>
                            <div class="recommendation">
                                <div class="score">
                                    <span>{{tour.TrungBinhDiemDanhGia}}</span>
                                    <i class="material-icons">star</i>
                                </div>
                                <div class="comment">({{tour.SoLuongDanhGia}} Reviews)</div>
                            </div>
                            <div class="price">
                                <div class="discount-info">save upto 30% off</div>
                                <div class="original-price">$213</div>
                            </div>
                        </div>

                        <button class="button-favorite">
                            <i class="material-icons">favorite_border</i>
                            <i class="material-icons">favorite</i>
                        </button>
                    </a>
                </div>
            </ng-container>
            <div class="d-flex justify-content-center mb-3">
                <button class="btn_XemThemTour" [routerLink]="'/dattour/'+ tourType">Xem thêm
                    tours</button>
            </div>
        </div>
    </div>
    }
    <!-- lặp lại khác màu -->
    @if(i%2!==0){
    <div class="container-fluid" style="background-color: #F6F8FA;">

        <div class="total_card gx-3 gy-3 row d-flex justify-content-center">
            <p class="text-center title_typeTour" style="font-size: 29px; font-weight: 600;">Du lịch Buôn Ma Thuột -
                {{tourType}}
            </p>
            <ng-container class="row p-0" *ngFor="let tour of getToursByType(tourType)">

                <div class="col col-lg-3 col-md-auto  col-sm-12 col-12">
                    <a class="travel-card w-md-100">
                        <div class="image">
                            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                        </div>
                        <div class="content">
                            <label class="category">{{tour.loaiTour}}</label>
                            <h1 class="topic">{{tour.tenTour}}</h1>
                            <div class="recommendation">
                                <div class="score">
                                    <span>{{tour.TrungBinhDiemDanhGia}}</span>
                                    <i class="material-icons">star</i>
                                </div>
                                <div class="comment">({{tour.SoLuongDanhGia}} Reviews)</div>
                            </div>
                            <div class="price">
                                <div class="discount-info">save upto 30% off</div>
                                <div class="original-price">$213</div>
                            </div>
                        </div>

                        <button class="button-favorite">
                            <i class="material-icons">favorite_border</i>
                            <i class="material-icons">favorite</i>
                        </button>
                    </a>
                </div>
            </ng-container>
            <div class="d-flex justify-content-center mb-3">
                <button class="btn_XemThemTour" [routerLink]="'/dattour/'+ tourType">Xem thêm
                    tours</button>
            </div>
        </div>
    </div>
    }







    <!-- <mat-divider></mat-divider> -->
</ng-container>