<ng-container *ngFor="let tourType of topTourTypes ;let i = index">
    @if(i%2===0){
    <div class="container-fluid bg-white">

        <div class="total_card gx-3 gy-3 row d-flex justify-content-center">
            <p class="text-center title_typeTour" style="font-size: 29px; font-weight: 600;">Du lịch trong nước -
                {{tourType}}
            </p>
            <ng-container class="row p-0" *ngFor="let tour of getToursByType(tourType)">

                <div class="col col-lg-3 col-md-auto  col-sm-12 col-12">
                    <span class="travel-card w-md-100" [routerLink]="'/chitiettour/'+tour.idTour">
                        <div class="image" [style.backgroundImage]="'url(' + tour.HinhAnhDauTien + ')'">
                            <div class="card__ribbon" style="z-index: 1;">
                                <div *ngIf="tourType!='Tour hot' &&  tourType!='Đánh giá nhiều'" class="ribbon-content">
                                    Tour du lịch</div>
                                <div *ngIf="tourType=='Tour hot'" class="ribbon-content">Tour hot</div>
                                <div *ngIf="tourType=='Đánh giá nhiều'" class="ribbon-content">Đánh giá nhiều</div>
                            </div>
                            <img [style.background-image]="'url(' + tour.HinhAnhDauTien + ')'">
                        </div>
                        <div class="content">
                            <label class="category pt-0">{{tour.loaiTour}}</label>
                            <h1 class="topic pt-0" style="color: #003C71; font-size: 2em;">{{tour.tenTour}}</h1>
                            <div class="recommendation">
                                <div class="score" style="background: #9FC43A;">
                                    <span>{{tour.TrungBinhDiemDanhGia}}</span>
                                    <i class="material-icons">star</i>
                                </div>
                                <div class="comment" style="color: #000;">({{tour.SoLuongDanhGia}} Đánh giá)</div>
                            </div>
                            <div class="price">
                                <div class="discount-info" style="color: #76CFFA; font-size: 1.2rem;">{{tour.thoiGianBatDau | date:'dd/MM/yyyy' }}</div>
                                <div class="original-price" style="color: #F79321;">{{tour.giaNguoiLon | number :'':'en'}} đ</div>
                            </div>
                        </div>

                        <button class="button-favorite">
                            <i class="material-icons">favorite_border</i>
                            <i class="material-icons">favorite</i>
                        </button>
                    </span>
                </div>
            </ng-container>
            <div class="d-flex justify-content-center mb-3">
                <button class="btn_XemThemTour" (click)="strUrlTour(tourType)">Xem thêm
                    tours</button>
            </div>
        </div>
    </div>
    }
    <!-- lặp lại khác màu -->
    @if(i%2!==0){
    <div class="container-fluid" style="background-color: #F6F8FA;">

        <div class="total_card gx-3 gy-3 row d-flex justify-content-center">
            <p class="text-center title_typeTour" style="font-size: 29px; font-weight: 600;">Du lịch trong nước -
                {{tourType}}
            </p>
            <ng-container class="row p-0" *ngFor="let tour of getToursByType(tourType)">

                <div class="col col-lg-3 col-md-auto  col-sm-12 col-12">
                    <span class="travel-card w-md-100" [routerLink]="'/chitiettour/'+tour.idTour">
                        <div class="image">
                            <div class="card__ribbon" style="z-index: 1;">
                                <div *ngIf="tourType!='Tour hot' &&  tourType!='Đánh giá nhiều'" class="ribbon-content">
                                    Tour du lịch</div>
                                <div *ngIf="tourType=='Tour hot'" class="ribbon-content">Tour hot</div>
                                <div *ngIf="tourType=='Đánh giá nhiều'" class="ribbon-content">Đánh giá nhiều</div>
                            </div>
                            <img [style.background-image]="'url(' + tour.HinhAnhDauTien + ')'">
                        </div>
                        <div class="content">
                            <label class="category">{{tour.loaiTour}}</label>
                            <h1 class="topic" style="color: #003C71; font-size: 2em;">{{tour.tenTour}}</h1>
                            <div class="recommendation">
                                <div class="score" style="background: #9FC43A;">
                                    <span>{{tour.TrungBinhDiemDanhGia}}</span>
                                    <i class="material-icons">star</i>
                                </div>
                                <div class="comment">({{tour.SoLuongDanhGia}} Đánh giá)</div>
                            </div>
                            <div class="price">
                                <div class="discount-info" style="color: #76CFFA; font-size: 1.2rem;">{{tour.thoiGianBatDau | date:'dd/MM/yyyy' }}</div>
                                <div class="original-price" style="color: #F79321;">{{tour.giaNguoiLon | number :'':'en'}} đ</div>
                            </div>
                        </div>

                        <button class="button-favorite">
                            <i class="material-icons">favorite_border</i>
                            <i class="material-icons">favorite</i>
                        </button>
                    </span>
                </div>
            </ng-container>
            <div class="d-flex justify-content-center mb-3">
                <button class="btn_XemThemTour" (click)="strUrlTour(tourType)">Xem thêm
                    tours</button>
            </div>
        </div>
    </div>
    }
</ng-container>