<div class="container mt-4">
    <p>CÁC TOUR NỔI BẬC</p>
    <div class="total_card row d-flex justify-content-center">
        @for (tour of TourDuLich; track $index) {
        <div class="card_tour col-lg-2">
            <div> <img class="img_tour" [src]="tour.HinhAnhDauTien" alt=""></div>
            <div class="title_tour">
                <span>{{tour.tenTour}}</span>
            </div>

            <div class="card_tour_text">
                <div class="total_time_tour">
                    <i class="bi bi-clock"></i> {{tour.SoNgayDem}}
                </div>
                <div class="start_time_tour">
                    <i class="bi bi-calendar-check"></i> {{tour.thoiGianBatDau | date:'dd/MM/yyyy' }}
                </div>

                <div class="spot_remaining">

                    <i class="bi bi-person"></i> Còn {{tour.soChoConNhan}} chỗ
                </div>
                <div class="price_tour d-flex justify-content-end">
                    <span class="price_tour_text">{{tour.giaNguoiLon | number :'':'en'}} đ</span>
                </div>
            </div>
        </div>
        }
    </div>
</div>