.showcase {
    background-color: #fefefe;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .travel-card {
    position: relative;
    display: inline-flex;
    flex-flow: column nowrap;
    font-weight: 300;
    background-color: white;
    box-shadow: 0px 0px 100px -10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    // width: 350px;
    width: 100%;
    
    &:hover > .button-favorite {
      display: inline-flex;
    }
    
    &:hover > .image > img {
      transform: scale(1.2);
    }
    
    & .image {
      width: 100%;
      height: 250px;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      overflow: hidden;
   
      & > img {
        width: 100%;
        height: 100%;
        background-image: url('https://cache-graphicslib.viator.com/graphicslib/page-images/742x525/467829_Viator_Unsplash_170410.jpg');
        background-position: center;
        background-size: contain;
        border-top-left-radius: inherit;
        border-top-right-radius: inherit;
        transition: all .28s ease-in-out;
        background-size: 100% 100%;
      }
    }
    
    
    & > .content {
      color: #545454;
      padding: 0.5em 1.5em;
      
      & > :nth-child(1n+2) {
        margin-top: 0.5em;
      }
      
      & > .category {
        font-size: 1.2em;
        color: #bababa;
      }
      
      & > .topic {
        margin-top: 0;
        font-size: 1.3em;
        line-height: calc(1rem * 2.8);
        word-break: break-all;
        max-height: calc(1rem * 2.8 * 2);
        overflow: hidden;
        position: relative;
        background-color: white;
      }
      
      & > .recommendation {
        display: flex;
        align-items: center;
  
        & > .score {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          background: rgb(0,123,255);
          background: linear-gradient(130deg, rgba(0,123,255,1) 0%, rgba(0,103,219,1) 75%, rgba(0,87,187,1) 100%);
          
          color: white;
          padding: 5px 8px;
          border-radius: 30px;
          user-select: none;
          
          & > :first-child {
            padding-top: 1px;
            padding-left: 4px;
          }
  
          & > :last-child {
            font-size: 1.1em;
            padding-left: 6px;
          }
        }
        
        & > .comment {
          color: #bababa;
          margin-left: 1.5em;
        }
      }
      
      & > .price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        & > .discount-info {
          color: #4fc3f7;
        }
        
        & > .original-price {
          color: #1B3C73;
            font-weight: 600;
        }
      }
    }
    
    & > .button-favorite {
      width: 2.8em;
      height: 2.8em;
      display: none;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 20px;
      right: 20px;
      background-color: white;
      color: #bababa;
      border-radius: 50%;
      box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, .1);
      user-select: none;
      
      &:hover > :first-child {
        display: none;
      }
      
      &:hover > :last-child {
        display: block;
      }
      
      & > i {
        font-size: 1.8em;
        padding-top: 2px;
      }
  
      & > :last-child {
        display: none;
        color: #ff5a60;
      }
    }
  }
  @media (min-width: 992px) { /* This applies to lg screens and above */
    .col {
      min-width: 400px;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) { /* This applies to md screens */
    .col {
      min-width: 50%; /* This ensures that there are always 2 items per row */
    }
  }
  
  /* For large devices (lg) and above */
@media (min-width: 992px) {
  .original-price {
      font-size: 1.5vw;
  }
}

/* For medium devices (md) */
@media (min-width: 768px) and (max-width: 991px) {
  .original-price {
      font-size: 3vw;
  }
}
@media (max-width:767px){
  .original-price {
    font-size: 5vw;
}
}
