<form [formGroup]="suaKhachHangForm" (ngSubmit)="SuaKhachHang($event)">
  <h1 mat-dialog-title>Sửa khách hàng - {{ model?.idKhachHang }}</h1>

  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Tên khách hàng</mat-label>
      <input matInput formControlName="tenKhachHang" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Số điện thoại</mat-label>
      <input
        type="text"
        maxlength="10"
        matInput
        formControlName="soDienThoai"
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>CCCD</mat-label>
      <input type="text" maxlength="12" matInput formControlName="cccd" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Ngày sinh</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        name="ngaySinh"
        id="ngaySinh"
        formControlName="ngaySinh"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Giới tính</mat-label>
      <mat-select name="gioiTinh" formControlName="gioiTinh">
        <mat-option value="Nam">Nam</mat-option>
        <mat-option value="Nữ">Nữ</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Địa chỉ</mat-label>
      <input matInput id="diaChi" name="diaChi" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tình trạng</mat-label>
      <mat-select  formControlName="tinhTrang">
        <mat-option value="Đang hoạt động">Đang hoạt động</mat-option>
        <mat-option value="Ngưng hoạt động">Ngưng hoạt động</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div mat-dialog-actions align="end">
    <button
      (click)="ClosePopup()"
      mat-dialog-close
      mat-raised-button
      color="warn"
    >
      Đóng
    </button>
    <button mat-raised-button color="primary">Lưu</button>
    <!-- <button mat-raised-button [mat-dialog-close]="closemessage" color="accent">Hủy</button> -->
  </div>
</form>
