<header class="container_large_header">
    <div class="container_medium_first_header_total">
        <div class="container_medium_first_header">
            <div class="left_medium_first_header">
                <ul>
                    <li><span><i class="bi bi-geo-alt-fill"></i> Buôn Ma Thuột:
                            29/09/2004</span></li>

                    <li><span><i class="bi bi-telephone"></i> 0869536182</span></li>
                </ul>
            </div>
            <div class="right_medium_first_header ">
                <ul class="desktop_hide">
                    <li><a href="#">Đăng nhập</a></li>
                    <li><a href="#">Đăng ký</a></li>
                    <li><a href="#">VN <i style="font-size: 10px;" class="bi bi-chevron-down"></i></a>
                        <ul class="submenu_first_header">
                            <li><a href="#">English</a></li>
                            <li><a href="#">Tiếng việt</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container_medium_second_header">
        <div class="left_medium_second_header">
            <div class="logo_header">
                <img src="assets/logoHeader.svg" class="logo_header_img" alt="logo_header">
            </div>
        </div>
        <div class="right_medium_second_header ">
            <ul class="desktop_hide">
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Liên hệ</a></li>
                <li><a href="#">Đặt tour</a></li>
                <li><a href="#">Điểm đến</a></li>
            </ul>
            <ul class="mobile_hide">
                <li>
                    <i class="bi bi-list"></i>
                </li>
            </ul>
        </div>

    </div>
</header>