@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.container_large_header {
  font-family: "Roboto", sans-serif;
  /* background-color: #f6f5f5; */
  user-select: none;
}

/* first nav */
.container_medium_first_header_total {
  background-color: #40679e;
}
.fixedHeader {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.3 ease;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); */
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  z-index: 1000;
}
.container_medium_first_header {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.container_medium_first_header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container_medium_first_header li {
  float: left;
}

.container_medium_first_header li a {
  display: block;
  text-align: center;
  padding: 6px 8px;
  text-decoration: none;
  color: white;
}

.container_medium_first_header li a:hover {
  background-color: #f7941e;
}
.container_medium_first_header li span {
  display: block;
  text-align: center;
  padding: 6px 8px;
  text-decoration: none;
  color: white;
}

/* submenu */
.container_medium_first_header li .submenu_first_header li {
  float: none;
}
.container_medium_first_header li .submenu_first_header li a {
  text-align: left;
  color: black;
}
.container_medium_first_header li .submenu_first_header li:hover a {
  color: white;
}
.container_medium_first_header li .submenu_first_header {
  display: none;
  position: absolute;
  min-width: 100px;
  background-color: white;
  /* right: 10px; */
  border: 2px solid #b5c0d0;
}

.container_medium_first_header li:hover .submenu_first_header {
  display: block;
}

/* second nav */
.container_medium_second_header {
  max-width: 1280px;
  /* background-color: rgb(112, 113, 116); */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  align-items: center;
  text-align: center;
  padding-left: 20px;
  /* padding-right: 20px; */
}
.container_medium_second_header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container_medium_second_header li {
  float: left;
  padding-bottom: 20px;
  padding-top: 15px;
  width: auto;
  padding-right: 60px;
}

.container_medium_second_header li a {
  display: block;
  /* padding: 6px 8px; */
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  /* color: black; */
  transition: ease 0.4s;
  font-weight: 400;
  position: relative;
  display: inline-block;
  padding-top: 5px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.container_medium_second_header ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #032563;
  transition: width 0.4s ease, left 0.4s ease;
}

.container_medium_second_header ul li a:hover::after {
  width: 100%;
  left: 0;
}

.container_medium_second_header li:hover a {
  color: #221314;
}

.mobile_hide {
  display: none;
  font-size: 30px;
  color: white;
}

/* logo-header */
.logo_header {
}
.Logo_Team {
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  color: white;
}
.mobile_hide li:hover {
  background-color: rgba(255, 0, 0, 0);
  cursor: pointer;
}
/* search bar */
.box {
  height: 30px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background: white;
  border-radius: 3px;
  align-items: center;
  margin-top: 4px;
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); */
}
.box:hover input {
  width: 400px;
}
.box input {
  width: 0;
  outline: none;
  border: none;
  font-weight: 500;
  transition: 0.8s;
  background: transparent;
}
.box span {
  padding-top: 3px;
}
/* khi scroll header phần box */
.onscrollHeader {
  height: 30px;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;
  background: white;
  border-radius: 3px;
  align-items: center;
  border: 2px solid #40679e;
  /* box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3); */
}

/* canvas-left */
.offcanvas {
  background-color: rgba(255, 255, 255, 0.9);
}
.menu_canvas_first {
  padding: 15px;
}
.menu_canvas_first ul {
  padding: 0;
}
.menu_canvas_first ul li {
  list-style-type: none;
  padding: 10px;
}
.menu_canvas_first ul li:hover {
  background-color: #b5c0d0;
}

.menu_canvas_first ul li a {
  text-decoration: none;
  font-size: 1.3rem;
  line-height: 60px;
  color: black;
}

/* -------------
--Reponsive--
------------- */
@media screen and (max-width: 1300px) {
  .box:hover input {
    width: 250px;
  }
  .container_medium_second_header li {
    float: left;
    padding-bottom: 20px;
    padding-top: 20px;
    width: auto;
    padding-right: 40px;
  }
}
@media screen and (max-width: 1000px) {
  .desktop_hide {
    display: none !important;
  }
  .desktop_hide .mobile_block {
    display: block !important;
  }
  .container_medium_first_header li span {
    display: block;
    text-align: center;
    padding: 6px 8px;
    text-decoration: none;
    color: white;
    font-size: 14px;
  }
  .mobile_hide {
    display: block;
  }

  .container_medium_second_header li {
    width: 30px;
  }
}
@media screen and (max-width: 1513px) {
  .container_medium_first_header li .submenu_first_header {
    display: none;
    position: absolute;
    min-width: 100px;
    background-color: white;
    right: 0;
    border: 2px solid #b5c0d0;
    z-index: 100002;
  }
}
::ng-deep .cdk-overlay-container {
  z-index: 9999;
}
