<header class="container_large_header">
    <div class="container_medium_first_header_total" style="z-index: 10000;">
        <div class="container_medium_first_header">
            <div class="left_medium_first_header">
                <ul style="user-select: text;" class="desktop_hide">
                    <li><span><i class="bi bi-geo-alt-fill"></i> Buôn Ma Thuột:
                            {{clock | date: "dd/MM/yyyy "}}</span></li>

                    <li><span><i class="bi bi-telephone"></i> 0869536182</span></li>
                </ul>
            </div>
            <div class="right_medium_first_header ">

                <ng-container *ngIf="user === undefined; else showLogout">
                    <ul>
                        <li><a routerLink="/login">Đăng nhập</a></li>
                        <li><a routerLink="/register">Đăng ký</a></li>
                        <li><a href="#">VN <i style="font-size: 10px;" class="bi bi-chevron-down"></i></a>
                            <ul class="submenu_first_header">
                                <li><a href="#">English</a></li>
                                <li><a href="#">Tiếng việt</a></li>
                            </ul>
                        </li>
                    </ul>
                </ng-container>


                <ng-template #showLogout>

                    <ul>
                        <li>
                            <!-- <span>{{user?.email}}</span> -->

                            <button mat-button [matMenuTriggerFor]="menu" class="text-white">Xin chào!
                                {{user?.email}}</button>
                            <mat-menu #menu="matMenu" style="z-index: 10000;">
                                <button mat-menu-item data-bs-toggle="modal" data-bs-target="#myModal"><mat-icon
                                        svgIcon="icon_User"></mat-icon> Thông tin cá
                                    nhân</button>
                                <button mat-menu-item routerLink="/lichsudattour"><mat-icon
                                        svgIcon="icon_History"></mat-icon> Lịch sử đặt tour</button>
                                <button mat-menu-item (click)="onLogout()"> <mat-icon svgIcon="icon_Logout"></mat-icon>
                                    Đăng xuất</button>
                            </mat-menu>

                        </li>
                        <!-- <li> <button class="btn btn-primary ms-3" (click)="onLogout()">Đăng xuất</button></li> -->
                        <li>
                            <!-- <a href="#">VN <i style="font-size: 10px;" class="bi bi-chevron-down"></i></a>
                            <ul class="submenu_first_header">
                                <li><a href="#">English</a></li>
                                <li><a href="#">Tiếng việt</a></li>
                            </ul> -->


                            <button mat-button [matMenuTriggerFor]="menu1" class="text-white">Ngôn ngữ</button>
                            <mat-menu #menu1="matMenu">
                                <button mat-menu-item><mat-icon svgIcon="icon_VietNam"></mat-icon> Tiếng việt</button>
                                <button mat-menu-item (click)="onLogout()"> <mat-icon svgIcon="icon_Us"></mat-icon>
                                    Tiếng anh</button>
                            </mat-menu>
                        </li>
                    </ul>
                </ng-template>



            </div>
        </div>
    </div>
    <div class="container_medium_second_header" style="z-index: 0;">
        <div class="left_medium_second_header">
            <div class="logo_header">
                <!-- <img src="assets/logoHeader.svg" class="logo_header_img" alt="logo_header"> -->
                <span class="Logo_Team item_medium_second_header " routerLink="/trangchu">ASAP</span>
            </div>
        </div>
        <div class="right_medium_second_header ">

            <ul class="desktop_hide">
                <li class="mobile_block" hidden>
                    <div class="box align-items-center d-flex">
                        <input type="text" placeholder="Tìm kiếm...">
                        <span class="align-items-center">

                            <mat-icon svgIcon="icon_Search"> </mat-icon>
                        </span>
                    </div>
                </li>
                <li routerLink="/trangchu"><a class="item_medium_second_header">Trang chủ</a></li>
                <li routerLink="/lienhe"><a class="item_medium_second_header">Liên hệ</a></li>
                <li routerLink="/dattour/tatca"><a class="item_medium_second_header">Đặt tour</a></li>
                <li routerLink="/diemden"><a class="item_medium_second_header">Điểm đến</a></li>
                <!-- <li routerLink="/lichsudattour"><a class="item_medium_second_header">Lịch sử</a></li> -->

            </ul>
            <ul class="mobile_hide">
                <!-- phần này để mở off canvas -->
                <li data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <i class="bi bi-list item_medium_second_header"></i>
                </li>
            </ul>
        </div>

    </div>

</header>

<div class="offcanvas offcanvas-start" style="z-index: 100001;" tabindex="-1" id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="menu_canvas_first">
        <ul>
            <li routerLink="/trangchu" data-bs-dismiss="offcanvas"><a>Trang chủ</a></li>
            <li routerLink="/lienhe" data-bs-dismiss="offcanvas"><a>Liên hệ</a></li>
            <li routerLink="/dattour" data-bs-dismiss="offcanvas"><a>Đặt tour</a></li>
            <li routerLink="/diemden" data-bs-dismiss="offcanvas"><a>Điểm đến</a></li>

        </ul>
    </div>
</div>

@if(nguoiDung && nguoiDung.tenKhachHang ===''){
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cập nhật thông tin cá nhân</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <mat-horizontal-stepper #stepper>

                    <mat-step>
                        <form [formGroup]="CapNhatThongTinKhachHang">
                            <ng-template matStepLabel>Thông tin cá nhân</ng-template>
                            <mat-form-field class="mt-3 col-5">
                                <mat-label>Tên Khách Hàng</mat-label>
                                <input matInput formControlName="tenKhachHang" placeholder="Tên Khách Hàng">
                            </mat-form-field>
                            <mat-form-field class="mt-3 col-5">
                                <mat-label>Số điện thoại</mat-label>
                                <input matInput formControlName="soDienThoai" placeholder="Số điện thoại">
                            </mat-form-field>
                        </form>
                        <div class="d-flex justify-content-end">
                            <button mat-button matStepperNext>Tiếp theo</button>
                        </div>
                    </mat-step>
                    <mat-step>
                        <form [formGroup]="CapNhatThongTinKhachHang">

                            <ng-template matStepLabel>Thông tin cá nhân</ng-template>
                            <mat-form-field class="mt-3 col-5">
                                <mat-label>Địa chỉ</mat-label>
                                <input matInput formControlName="diaChi" placeholder="Địa chỉ">
                            </mat-form-field>
                            <mat-form-field class="mt-3 col-5">
                                <mat-label>Căn cước công dân</mat-label>
                                <input matInput formControlName="cccd" placeholder="Căn cước công dân">
                            </mat-form-field>
                            <div class="d-flex justify-content-end">
                                <button mat-button matStepperNext>Tiếp theo</button>
                            </div>
                        </form>

                    </mat-step>
                    <mat-step>
                        <form [formGroup]="CapNhatThongTinKhachHang">

                            <ng-template matStepLabel>Thông tin cá nhân</ng-template>
                            <mat-form-field class="mt-3 col-5">
                                <mat-label>Ngày sinh</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="ngaySinh"
                                    placeholder="Ngày sinh">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>

                            <mat-form-field class="mt-3 col-5">
                                <mat-label>Giới tính</mat-label>
                                <mat-select formControlName="gioiTinh">
                                    <mat-option value="Nam">Nam</mat-option>
                                    <mat-option value="Nữ">Nữ</mat-option>
                                    <!-- Thêm các tùy chọn khác nếu cần -->
                                </mat-select>
                            </mat-form-field>


                            <div class="d-flex justify-content-end">
                                <button mat-button matStepperNext>Tiếp theo</button>
                            </div>
                        </form>

                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Hoàn tất thông tin</ng-template>
                        <p>Bạn chắc chắn những thông tin bạn vừa nhập là chính xác không?</p>
                        <div class="d-flex justify-content-end">
                            <button mat-button matStepperCancel>Hủy</button>
                            <button mat-button matStepperNext (click)="CapNhatThongTinKhachHangFn()">Xác
                                nhận</button>
                        </div>
                    </mat-step>

                </mat-horizontal-stepper>
            </div>

        </div>
    </div>
</div>
}
@else if (nguoiDung) {
@if(nguoiDung.idKhachHang){

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Thông tin khách hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-4">
                        <label for="tenKhachHang" class="col-form-label">Tên khách hàng:</label>
                    </div>
                    <div class="col-auto">
                        <p id="tenKhachHang" class="form-control-plaintext">{{nguoiDung.tenKhachHang}}</p>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label for="tenKhachHang" class="col-form-label">Số điện thoại</label>
                    </div>
                    <div class="col-auto">
                        <p id="tenKhachHang" class="form-control-plaintext">{{nguoiDung.soDienThoai}}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label for="tenKhachHang" class="col-form-label">Địa chỉ:</label>
                    </div>
                    <div class="col-auto">
                        <p id="tenKhachHang" class="form-control-plaintext">{{nguoiDung.diaChi}}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label for="tenKhachHang" class="col-form-label">CCCD:</label>
                    </div>
                    <div class="col-auto">
                        <p id="tenKhachHang" class="form-control-plaintext">{{nguoiDung.cccd}}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label for="tenKhachHang" class="col-form-label">Ngày sinh:</label>
                    </div>
                    <div class="col-auto">
                        <p id="tenKhachHang" class="form-control-plaintext">{{nguoiDung.ngaySinh| date:'dd/MM/yyyy'}}
                        </p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label for="tenKhachHang" class="col-form-label">Giới tính:</label>
                    </div>
                    <div class="col-auto">
                        <p id="tenKhachHang" class="form-control-plaintext">{{nguoiDung.gioiTinh}}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label for="tenKhachHang" class="col-form-label">Email:</label>
                    </div>
                    <div class="col-auto">
                        <p id="tenKhachHang" class="form-control-plaintext">{{nguoiDung.email}}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label for="tenKhachHang" class="col-form-label">Ngày đăng ký:</label>
                    </div>
                    <div class="col-auto">
                        <p id="tenKhachHang" class="form-control-plaintext">{{nguoiDung.ngayDangKy | date:'dd/MM/yyyy'}}
                        </p>
                    </div>
                </div>
                <!-- Tương tự cho các trường khác -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

}
@else if(nguoiDung.idNhanVien){
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal nhân viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-4">
                        <label for="tenKhachHang" class="col-form-label">Tên nhân viên:</label>
                    </div>
                    <div class="col-auto">
                        <p id="tenKhachHang" class="form-control-plaintext">{{nguoiDung.tenNhanVien}}</p>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label for="tenKhachHang" class="col-form-label">Số điện thoại</label>
                    </div>
                    <div class="col-auto">
                        <p id="tenKhachHang" class="form-control-plaintext">{{nguoiDung.soDienThoai}}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label for="tenKhachHang" class="col-form-label">Địa chỉ:</label>
                    </div>
                    <div class="col-auto">
                        <p id="tenKhachHang" class="form-control-plaintext">{{nguoiDung.diaChi}}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label for="tenKhachHang" class="col-form-label">CCCD:</label>
                    </div>
                    <div class="col-auto">
                        <p id="tenKhachHang" class="form-control-plaintext">{{nguoiDung.cccd}}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label for="tenKhachHang" class="col-form-label">Ngày sinh:</label>
                    </div>
                    <div class="col-auto">
                        <p id="tenKhachHang" class="form-control-plaintext">{{nguoiDung.ngaySinh| date:'dd/MM/yyyy'}}
                        </p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label for="tenKhachHang" class="col-form-label">Giới tính:</label>
                    </div>
                    <div class="col-auto">
                        <p id="tenKhachHang" class="form-control-plaintext">{{nguoiDung.gioiTinh}}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label for="tenKhachHang" class="col-form-label">Email:</label>
                    </div>
                    <div class="col-auto">
                        <p id="tenKhachHang" class="form-control-plaintext">{{nguoiDung.email}}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label for="tenKhachHang" class="col-form-label">Ngày đăng ký:</label>
                    </div>
                    <div class="col-auto">
                        <p id="tenKhachHang" class="form-control-plaintext">{{nguoiDung.ngayDangKy | date:'dd/MM/yyyy'}}
                        </p>
                    </div>
                </div>
                <!-- Tương tự cho các trường khác -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
}
}