/*Style for the first level menu bar*/
.dropdown {
  position: relative;
  display: inline-block;
  padding: 10px;
  top: 0;
  width: 270px;
  margin: 0;
}

.dropdown > li {
  padding-left: 20px;
  float: left;
  list-style-type: none;
  position: relative;
}

label {
  background-color: #fefefe;
  color: black;
  font-size: 15px;
  padding-left: 15px;
  width: 270px;
  position: relative;
  display: block;
  line-height: 45px;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid #7f9db7;
}

label:after {
  font-family: FontAwesome;
  content: "\f107";
  position: absolute;
  display: inline-block;
  right: 20px;
}

label:focus,
input:checked ~ label {
  background-color: #7f9db7;
  color: #fefefe;
  outline: 0;
}

input:checked ~ label:after {
  border-top: 0 solid rgba(255, 255, 255, 0.5);
  transition: border-top 0.1s, border-bottom 0.1s 0.1s;
  font-family: FontAwesome;
  content: "\f106";
}

/*hide the inputs*/
input {
  display: none;
}

/*show the second levele menu of the selected voice*/
input:checked ~ .dropdown-content {
  max-height: 250px;
  transition: max-height 0.5s ease-in;
}

/*style for the second level menu*/
.dropdown-content {
  border-radius: 5px;
  width: 287px;
  max-height: 0;
  padding: 0px;
  margin-top: 20px;
  overflow: hidden;
  list-style-type: none;
  transition: max-height 0.5s ease-out;
  position: absolute;
}

.dropdown-content li a {
  font-size: 15px;
  display: block;
  padding: 12px;
  background-color: gray;
  color: black;
  text-decoration: none;
  white-space: nowrap;
  transition: background 0.3s;
  border-left: 3px solid transparent;
}

.dropdown-content li a:hover {
  background: #f4f4f4;
  border-left: 3px solid #7f9db7;
}

.fa-bars,
.fa-home,
.fa-envelope,
.fa-cog {
  padding-right: 15px;
  size: 15px;
}

hr {
  padding: 0px;
  margin: 0px;
  border: 0;
  height: 0;
  border-top: 1px solid #f4f4f4;
}
