<div class="container-fluid">
    <div class="row">
        <!-- Main Sidebar -->
        <app-main-sidebar class="p-0" style="z-index: 1;"></app-main-sidebar>
        <!-- End Main Sidebar -->
        <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
            <div class="main-navbar sticky-top bg-white">
                <!-- Main Navbar -->
                <app-main-navbar></app-main-navbar>
            </div>
            <!-- / .main-navbar -->



            <!-- Start dịch vụ -->
            <div class="main-content-container container-fluid px-4">
                <div class="page-header row no-gutters py-4">
                    <div class="container-fluid">
                        <h2>Quản lý đặt Tour</h2>
                        <p align="center">
                            <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style"
                                [(ngModel)]="selectedStatus" (change)="filterTours()">
                                <mat-button-toggle value=""
                                    [className]="mauButton==0?'bg-primary text-white':'bg-light'">Tất
                                    cả</mat-button-toggle>
                                <mat-button-toggle value="Đang hoạt động"
                                    [className]="mauButton==1?'bg-success text-white':'bg-light'">Đang hoạt
                                    động</mat-button-toggle>
                                <mat-button-toggle value="Tạm hoãn"
                                    [className]="mauButton==2?'bg-warning text-white':'bg-light'">Tạm
                                    hoãn</mat-button-toggle>
                            </mat-button-toggle-group>
                        </p>
                        <div class="mt-4">
                            <div class="total_card row d-flex justify-content-center">
                                @for(item of filteredTours; track $index){
                                <div class="card_tour col-lg-3">
                                    <div class="div_img" style="height: 150px;">
                                        <div class="tinhTrang" style="font-size: 1.2rem;">
                                            <span class="badge rounded-0"
                                                [class]="getTinhTrangClass(item.tinhTrang,item.soChoConNhan)">
                                                @if(item.soChoConNhan ===0){
                                                Hết chỗ
                                                }
                                                @else {
                                                {{item.tinhTrang}}
                                                }
                                            </span>
                                        </div>

                                        <div> <img class="img_tour" style="object-fit: cover; height: 150px;"
                                                [src]="item.AnhTourDauTien" alt=""></div>
                                    </div>
                                    <div class="title_tour">
                                        <span>{{item.tenTour}} </span>
                                    </div>

                                    <div class="card_tour_text">
                                        <div class="total_time_tour">
                                            <i class="bi bi-clock"></i> {{item.SoNgayDem}}
                                        </div>
                                        <div class="start_time_tour">
                                            <i class="bi bi-calendar-check"></i> {{item.thoiGianBatDau | date:
                                            "dd/MM/yyyy-hh:mm:ss"}}
                                        </div>

                                        <div class="spot_remaining">
                                            <i class="bi bi-person"></i> Còn {{item.soChoConNhan}} chỗ
                                        </div>
                                        <div class="price_tour d-flex justify-content-end">
                                            <span class="price_tour_text">{{item.giaNguoiLon | number:'':'en'}} đ</span>
                                        </div>
                                        <div class="btn_bothBuy row gx-2">
                                            <div class="col-sm-6 mt-1">
                                                <button [disabled]="item.soChoConNhan ===0" type="button"
                                                    class="btn_DatTour equal w-100" data-bs-toggle="modal"
                                                    data-bs-target="#datTourModal" (click)="LayTourDuLich(item.idTour)">
                                                    Đặt tour
                                                </button>
                                            </div>
                                            <div *ngIf="item.tinhTrang !== 'Tạm hoãn'" class="col-sm-6 mt-1">
                                                <button type="button" class="btn_ThanhToan equal w-100"
                                                    data-bs-toggle="modal" data-bs-target="#thanhToanModal"
                                                    (click)="LayThanhToanTourDuLich(item.idTour)">
                                                    Thanh toán
                                                </button>
                                            </div>
                                        </div>
                                        <div class="btn_bothBuy row gx-2 justify-content-center">
                                            <div *ngIf="item.tinhTrang === 'Tạm hoãn'"
                                                class="col-sm-12 mt-2 d-flex justify-content-center">
                                                <button type="button" class="btn_DatTour equal" style="margin: 0 auto;"
                                                    disabled>
                                                    Tour này đang tạm hoãn
                                                </button>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                }




                            </div>


                        </div>

                    </div>

                </div>
            </div>
            <!-- End dịch vụ -->





            <app-footer-main-admin></app-footer-main-admin>
        </main>
    </div>
</div>






<div class="modal fade" id="datTourModal" tabindex="-1" aria-labelledby="datTourModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            @if(model){

            <h2 mat-dialog-title class="ps-4 pt-2">Đặt tour - {{model.idTour}}</h2>


            <mat-tab-group>
                <!-- Content for Nhập thông tin tour tab -->
                <mat-tab label="Nhập thông tin">
                    <div class="row ps-4 mb-2 mt-2" style="max-width: 100%;">


                        <mat-form-field class="col-lg-6">
                            <mat-label>Tên tour</mat-label>
                            <input matInput [(ngModel)]="model.tenTour" disabled>
                        </mat-form-field>

                        <mat-form-field class="col-lg-3">
                            <mat-label>Tên khách hàng</mat-label>
                            <input type="text" matInput [matAutocomplete]="auto" [formControl]="KhachHang">
                            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                                [displayWith]="displayFnKhachHang">
                                <mat-option *ngFor="let option of filteredOptionsKhachHang | async" [value]="option">
                                    {{option.tenKhachHang}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>

                        <mat-form-field class="col-lg-3">
                            <mat-label>Ngày đặt</mat-label>
                            <input matInput [(ngModel)]="NgayDatTour" type="datetime-local" disabled>
                        </mat-form-field>


                        <mat-form-field class="col-sm-6 col-md-6 col-lg-3">
                            <mat-label>Số lượng người lớn({{model.soLuongNguoiLon}})</mat-label>
                            <mat-icon matPrefix (click)="TinhSoLuongNguoiDuTour('NguoiLon','Tru')"
                                svgIcon="icon_DauTru"></mat-icon>
                            <input matInput type="number" style="appearance: none;" id="SoLuongNguoiLon"
                                (input)="TinhTongTien()" [(ngModel)]="SoLuongNguoiLon_DatTour" [min]="1"
                                [max]="model.soLuongNguoiLon">
                            <mat-icon matSuffix (click)="TinhSoLuongNguoiDuTour('NguoiLon','Cong')"
                                svgIcon="icon_DauCong"></mat-icon>
                        </mat-form-field>

                        <mat-form-field class="col-sm-6 col-md-6 col-lg-3">
                            <mat-label>Số lượng trẻ em({{model.soLuongTreEm}})</mat-label>
                            <mat-icon matPrefix (click)="TinhSoLuongNguoiDuTour('TreEm','Tru')"
                                svgIcon="icon_DauTru"></mat-icon>
                            <input matInput type="number" style="appearance: none;" id="SoLuongTreEm"
                                (input)="TinhTongTien()" [(ngModel)]="SoLuongTreEm_DatTour" [min]="0"
                                [max]="model.soLuongTreEm">
                            <mat-icon matSuffix (click)="TinhSoLuongNguoiDuTour('TreEm','Cong')"
                                svgIcon="icon_DauCong"></mat-icon>
                        </mat-form-field>



                        <mat-form-field class="col-lg-3">
                            <mat-label>Giá trẻ em</mat-label>
                            <input matInput type="text" disabled [(ngModel)]="model.giaTreEm">
                        </mat-form-field>

                        <mat-form-field class="col-lg-3">
                            <mat-label>Giá người lớn</mat-label>
                            <input matInput type="text" disabled [(ngModel)]="model.giaNguoiLon">
                        </mat-form-field>
                        @if(NguoiDung){
                        <mat-form-field class="col-lg-3">
                            <mat-label>Tên nhân viên</mat-label>
                            <input matInput type="text" disabled [(ngModel)]="NguoiDung.idNhanVien">
                        </mat-form-field>
                        }


                        <mat-form-field class="col-lg-3">
                            <mat-label>Số chỗ còn nhận</mat-label>
                            <input matInput type="text" disabled [(ngModel)]="model.soChoConNhan">
                        </mat-form-field>

                        <mat-form-field class="col-lg-3">
                            <mat-label>Nơi khởi hành</mat-label>
                            <input matInput type="text" disabled [(ngModel)]="model.noiKhoiHanh">
                        </mat-form-field>

                        <mat-form-field class="col-lg-3">
                            <mat-label>Dịch vụ đi kèm</mat-label>
                            <input matInput type="text" disabled [(ngModel)]="model.dichVuDiKem">
                        </mat-form-field>

                        <mat-form-field class="col-12col-sm-12 col-md-12 col-lg-12">
                            <mat-label>Ghi chú</mat-label>
                            <textarea matInput [(ngModel)]="GhiChu_DatTour" name="GhiChu" id="GhiChu"
                                rows="3"></textarea>
                        </mat-form-field>

                        <mat-card class="col-12 col-sm-12 col-md-12 col-lg-6 mt-3">
                            <mat-card-title>Thông tin tour</mat-card-title>
                            <mat-table [dataSource]="dataSource">
                                <!-- Số chỗ người lớn -->
                                <ng-container matColumnDef="soChoNguoiLon">
                                    <mat-header-cell *matHeaderCellDef>Số chỗ người lớn</mat-header-cell>
                                    <mat-cell *matCellDef="let element">{{element.soChoNguoiLon}}</mat-cell>
                                </ng-container>

                                <!-- Số chỗ trẻ em -->
                                <ng-container matColumnDef="soChoTreEm">
                                    <mat-header-cell *matHeaderCellDef>Số chỗ trẻ em</mat-header-cell>
                                    <mat-cell *matCellDef="let element">{{element.soChoTreEm}}</mat-cell>
                                </ng-container>

                                <!-- Giá người lớn -->
                                <ng-container matColumnDef="giaNguoiLon">
                                    <mat-header-cell *matHeaderCellDef>Giá người lớn</mat-header-cell>
                                    <mat-cell *matCellDef="let element">{{element.giaNguoiLon}}</mat-cell>
                                </ng-container>

                                <!-- Giá trẻ em -->
                                <ng-container matColumnDef="giaTreEm">
                                    <mat-header-cell *matHeaderCellDef>Giá trẻ em</mat-header-cell>
                                    <mat-cell *matCellDef="let element">{{element.giaTreEm}}</mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>
                        </mat-card>



                        <div class="col-lg-1"></div>

                        <mat-card class="col-12 col-sm-12 col-md-12 col-lg-5 mt-3">
                            <mat-card-title>Chi tiết thanh toán</mat-card-title>
                            <mat-card-content>
                                <div class="d-flex justify-content-between">
                                    <span>Thời gian tour: </span><span><b>{{SoNgayDem}}</b></span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>Số lượng người lớn: </span><span><b>{{SoLuongNguoiLon_DatTour}} x
                                            {{model.giaNguoiLon}}đ</b></span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>Số lượng trẻ em: </span><span><b>{{SoLuongTreEm_DatTour}} x
                                            {{model.giaTreEm}}đ</b></span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>Tổng tiền dịch vụ: </span><span><b>{{TongTienDichVu}}
                                            đ</b></span>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <span>Tổng tiền: </span><span class="price_tour_text">{{TongTien_DatTour |
                                        number:'':'en'}}đ</span>
                                </div>
                            </mat-card-content>
                        </mat-card>

                    </div>


                </mat-tab>
                <mat-tab label="Thông tin tour">
                    <!-- Content for Thông tin tour tab -->

                    <mat-list>
                        <!-- Item 1 -->
                        <mat-list-item>
                            <div class="row">
                                <div class="col-12 col-lg-4 text-nowrap">
                                    <strong>Tên tour:</strong> {{model.tenTour}}
                                </div>
                                <div class="col-12 col-lg-4 text-nowrap">
                                    <strong>Loại tour:</strong> {{model.loaiTour}}
                                </div>
                                <div class="col-12 col-lg-4 text-nowrap">
                                    <strong>Phương tiện di chuyển:</strong> {{model.phuongTienDiChuyen}}
                                </div>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>

                        <!-- Item 2 -->
                        <mat-list-item>
                            <div class="row">
                                <div class="col text-nowrap">
                                    <strong>Tình trạng:</strong> {{model.tinhTrang}}
                                </div>
                                <div class="col text-nowrap">
                                    <strong>Số lượng người lớn:</strong> {{model.soLuongNguoiLon}}
                                </div>
                                <div class="col text-nowrap">
                                    <strong>Số lượng trẻ em:</strong> {{model.soLuongTreEm}}
                                </div>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>

                        <!-- Item 3 -->
                        <mat-list-item>
                            <div class="row">
                                <div class="col text-nowrap">
                                    <strong>Thời gian bắt đầu:</strong> {{model.thoiGianBatDau }}
                                </div>
                                <div class="col text-nowrap">
                                    <strong>Thời gian kết thúc:</strong> {{model.thoiGianKetThuc}}
                                </div>
                                <div class="col text-nowrap">
                                    <strong>Nơi khởi hành:</strong> {{model.noiKhoiHanh}}
                                </div>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>

                        <!-- Item 4 -->
                        <mat-list-item>
                            <div class="row">
                                <div class="col text-nowrap">
                                    <strong>Số chỗ còn nhận:</strong> {{model.soChoConNhan}}
                                </div>
                                <div class="col text-nowrap">
                                    <strong>Đối tác:</strong> {{model.idDoiTac}}
                                </div>
                                <div class="col text-nowrap">
                                    <strong>Giá trẻ em:</strong> {{model.giaTreEm}}
                                </div>
                            </div>
                        </mat-list-item>
                        <mat-divider></mat-divider>

                        <!-- Item 5 -->
                        <mat-list-item>
                            <div class="row">
                                <div class="col text-nowrap">
                                    <strong>Giá người lớn:</strong> {{model.giaNguoiLon}}
                                </div>
                                <div class="col text-nowrap">
                                    <strong>Ngày thêm:</strong> {{model.ngayThem | date:'dd/MM/yyyy'}}
                                </div>
                                <div class="col text-nowrap">
                                    <strong>Dịch vụ đi kèm:</strong> {{model.dichVuDiKem}}
                                </div>
                            </div>
                        </mat-list-item>
                    </mat-list>

                </mat-tab>

                <mat-tab label="Dịch vụ">
                    <!-- Content for Dịch vụ tab -->
                    <div class="p-3">


                        <ng-container *ngIf="TongDichVu.length !== 0">
                            <span class=""><b>Đăng ký dịch vụ</b></span>
                        </ng-container>

                        <div>
                            <div *ngFor="let dv of TongDichVu; let i = index">

                                <mat-card class="giaNguoiLon _inputGroup border shadow-sm p-2 mt-1 mb-1"
                                    style="box-sizing: border-box">
                                    <!-- <mat-card-content> -->
                                    <div class="row">
                                        <div class="col-8 col-sm-8 col-md-7 col-lg-6 d-flex align-items-center">
                                            <mat-select class="form-control border-0 shadow-none"
                                                matTooltip="Chọn dịch vụ" [(ngModel)]="_ngDichVuDaChon[i]"
                                                name="DichVuDaChon" (selectionChange)="ThayDoiDichVu(i)">
                                                <mat-option value="">-Chọn dịch vụ-</mat-option>
                                                <ng-container *ngFor="let dv of DichVu; let j = index">
                                                    <mat-option *ngIf="!KiemTraDichVuDaChon(dv.idDichVu, i)"
                                                        [value]="dv.idDichVu">
                                                        {{dv.tenDichVu}}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                        </div>

                                        <div
                                            class="col-4 col-sm-4 col-md-5 col-lg-3 d-flex align-items-center justify-content-center">
                                            <div class="input-group" style="box-sizing: border-box;">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text border-0 bg-transparent"
                                                        matTooltip="Giảm số lượng"
                                                        (click)="ThayDoiSoLuongDichVu(i, 'Tru')"><mat-icon
                                                            svgIcon="icon_DauTru"></mat-icon></span>
                                                </div>
                                                <input matInput type="text" class="form-control border-0 text-center"
                                                    [(ngModel)]="_ngSoLuongDaChon[i]">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text border-0 bg-transparent"
                                                        matTooltip="Tăng số lượng"
                                                        (click)="ThayDoiSoLuongDichVu(i, 'Cong')"><mat-icon
                                                            svgIcon="icon_DauCong"></mat-icon></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-2 p-2 d-flex align-items-center justify-content-center"
                                            style="cursor: pointer;" (click)="XoaDichVuDaChon(i)"
                                            matTooltip="Xóa dịch vụ">
                                            <mat-icon svgIcon="icon_Xoa" style="height: auto"></mat-icon>
                                        </div>
                                    </div>
                                    <!-- </mat-card-content> -->
                                </mat-card>
                            </div>
                        </div>

                        <ng-container *ngIf=" TongDichVu.length < DichVu.length">
                            <button mat-fab mat-tool matTooltip="Thêm dịch vụ" color="primary" (click)="ThemDichVu()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </ng-container>
                    </div>


                </mat-tab>

                <mat-tab label="Khách hàng mới" *ngIf="!KhachHang.value">
                    <ng-template mat-tab-label>
                        Khách hàng mới
                        <!-- <i *ngIf="myForm.getRawValue().tenKhachHang" class="bi bi-person-plus"></i> -->
                        <mat-icon style="color:  inherit; font-size:  inherit;"><i
                                class="bi bi-person-fill-add"></i></mat-icon>
                    </ng-template>
                    <!-- {{KhachHang.value}} -->
                    <form [formGroup]="myForm" (ngSubmit)="onSubmitThemKhachHang()">
                        <div mat-dialog-content>
                            <mat-form-field class="col-lg-4">
                                <mat-label>Tên khách hàng</mat-label>
                                <input matInput id="tenKhachHang" name="tenKhachHang"
                                    placeholder="Nhập tên khách hàng..." formControlName="tenKhachHang"
                                    (input)="TypingKhachHang()" [errorStateMatcher]="matcher">
                                @if (tenKhachHang?.errors?.['required']) {
                                <mat-error>Vui lòng nhập tên khách hàng</mat-error>
                                }
                                @else if (tenKhachHang?.errors?.['minlength']) {
                                <mat-error>Tên khách hàng quá ngắn</mat-error>
                                }
                                @else if (tenKhachHang?.errors?.['maxlength']) {
                                <mat-error>Tên khách hàng quá dài</mat-error>
                                }
                                @else if (tenKhachHang?.errors?.['invalidChar']) {
                                <mat-error>Tên khách hàng không chứa ký tự đặc biệt & số</mat-error>
                                }
                            </mat-form-field>
                            <mat-form-field class="col-lg-4">
                                <mat-label>Số điện thoại</mat-label>
                                <input type="tel" maxlength="10" minlength="10" matInput placeholder="033-233-1231"
                                    (input)="TypingKhachHang()" formControlName="soDienThoai"
                                    [errorStateMatcher]="matcher">
                                @if (soDienThoai?.errors?.['required']) {
                                <mat-error>Vui lòng nhập số điện thoại</mat-error>
                                }
                                @else if (soDienThoai?.errors?.['minlength']) {
                                <mat-error>Số điện thoại quá ngắn</mat-error>
                                }
                                @else if (soDienThoai?.errors?.['maxlength']) {
                                <mat-error>Số điện thoại không đúng định dạng</mat-error>
                                }
                            </mat-form-field>




                            <mat-form-field class="col-lg-4">
                                <mat-label>Địa chỉ</mat-label>
                                <input matInput id="diaChi" name="diaChi" placeholder="Nhập địa chỉ..."
                                    (input)="TypingKhachHang()" formControlName="diaChi" [errorStateMatcher]="matcher">
                                @if (diaChi?.errors?.['required']) {
                                <mat-error>Vui lòng nhập địa chỉ</mat-error>
                                }
                                @else if (diaChi?.errors?.['minlength']) {
                                <mat-error>Địa chỉ quá ngắn</mat-error>
                                }
                                @else if (diaChi?.errors?.['maxlength']) {
                                <mat-error>Địa chỉ quá dài</mat-error>
                                }
                            </mat-form-field>



                            <mat-form-field class="col-lg-4">
                                <mat-label>CCCD</mat-label>
                                <input matInput id="cCCD" name="cccd" placeholder="Nhập CCCD..."
                                    (input)="TypingKhachHang()" type="number" maxlength="12" formControlName="cccd"
                                    [errorStateMatcher]="matcher">
                                @if (cccd?.errors?.['required']) {
                                <mat-error>Vui lòng nhập CCCD</mat-error>
                                }
                                @else if (cccd?.errors?.['minlength']) {
                                <mat-error>CCCD quá ngắn</mat-error>
                                }
                                @else if (cccd?.errors?.['maxlength']) {
                                <mat-error>CCCD quá dài</mat-error>
                                }
                            </mat-form-field>




                            <mat-form-field class="col-lg-4">
                                <mat-label>Ngày sinh</mat-label>
                                <input matInput [matDatepicker]="picker" name="ngaySinh" (input)="TypingKhachHang()"
                                    id="ngaySinh" formControlName="ngaySinh" [errorStateMatcher]="matcher">
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                @if (ngaySinh?.errors?.['required']) {
                                <mat-error>Vui lòng nhập ngày sinh</mat-error>
                                }
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>


                            <mat-form-field class="col-lg-4">
                                <mat-label>Giới tính</mat-label>
                                <mat-select id="gioiTinh" name="gioiTinh" (input)="TypingKhachHang()"
                                    [errorStateMatcher]="matcher" formControlName="gioiTinh">
                                    <mat-option value="Nam">Nam</mat-option>
                                    <mat-option value="Nữ">Nữ</mat-option>
                                </mat-select>
                                @if (gioiTinh?.errors?.['required']) {
                                <mat-error>Vui lòng chọn giới tính</mat-error>
                                }
                            </mat-form-field>



                            <mat-form-field class="col-lg-4">
                                <mat-label>Email</mat-label>
                                <input matInput type="email" id="email" (input)="TypingKhachHang()" name="email"
                                    [errorStateMatcher]="matcher" placeholder="Nhập email..." formControlName="email">
                                @if (email?.errors?.['required']) {
                                <mat-error>Vui lòng nhập email</mat-error>
                                }
                                @else if (email?.errors?.['minlength']) {
                                <mat-error>Email quá ngắn</mat-error>
                                }
                                @else if (email?.errors?.['maxlength']) {
                                <mat-error>Email quá dài</mat-error>
                                }
                            </mat-form-field>



                        </div>
                    </form>

                </mat-tab>
            </mat-tab-group>

            <div mat-dialog-actions class="modal-footer">
                <button data-bs-dismiss="modal" type="button" mat-raised-button color="warn">Đóng</button>

                <button mat-raised-button type="button" color="primary"
                    [disabled]="(myForm.invalid && !KhachHang.value) || (!myForm.value && KhachHang.value.length === 0)"
                    (click)="DatTour()">Đặt tour</button>


            </div>
            }
        </div>



    </div>
</div>




<!-- Modal Thanh toán -->
<div style="z-index:9999;" class="modal fade" id="thanhToanModal" tabindex="-1" aria-labelledby="thanhToanModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content p-2">
            <h3 mat-dialog-title>Tra cứu khách hàng - {{idTour_ThanhToan}}</h3>
            <mat-dialog-content>
                <div class="row">
                    <mat-form-field>
                        <mat-label>Tên khách hàng</mat-label>
                        <input type="text" matInput [matAutocomplete]="auto" (input)="KiemTraChonKhachHangThanhToan()"
                            [formControl]="TenKhachHang_ThanhToan">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"
                            [displayWith]="displayFnKhachHang_ThanhToan">
                            <mat-option *ngFor="let option of filteredOptionsKhachHangThanhToan | async"
                                [value]="option">
                                {{option.tenKhachHang}}
                            </mat-option>
                        </mat-autocomplete>
                        @if(KhachHang.errors?.['invalid']){
                        <mat-error>Khách hàng không hợp lệ</mat-error>
                        }
                    </mat-form-field>
                </div>
            </mat-dialog-content>

            <mat-dialog-actions align="end">
                <button mat-raised-button color="warn" data-bs-dismiss="modal">Đóng</button>
                <button mat-raised-button color="primary" (click)="ThongTinThanhToan()" data-bs-toggle="modal"
                    data-bs-target="#thanhToanModal1"
                    [disabled]="!TenKhachHang_ThanhToan.value || TenKhachHang_ThanhToan.errors?.['invalid']">Tra cứu
                    thông
                    tin</button>
            </mat-dialog-actions>


        </div>
    </div>
</div>
@if(TenKhachHang_ThanhToan.value){


<div class="modal fade " id="thanhToanModal1" tabindex="-1" aria-labelledby="thanhToanModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="thanhToanModalLabel">Thanh toán - {{idTour_ThanhToan}} -
                    {{TenKhachHang_ThanhToan.value.idKhachHang}}
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row d-flex align-items-stretch">
                    <div class="col-lg-4  d-flex flex-column">
                        <h5>Thông tin khách hàng</h5>

                        <table class="table table-bordered table-striped flex-grow-1">
                            <tbody>
                                <tr>
                                    <th>Mã khách hàng</th>
                                    <td class="text-center"> {{TenKhachHang_ThanhToan.value.idKhachHang}}</td>
                                </tr>
                                <tr>
                                    <th>Tên khách hàng</th>
                                    <td class="text-center"> {{TenKhachHang_ThanhToan.value.tenKhachHang}}</td>
                                </tr>
                                <tr>
                                    <th>Số điện thoại</th>
                                    <td class="text-center"> {{TenKhachHang_ThanhToan.value.soDienThoai}}</td>
                                </tr>
                                <tr>
                                    <th>Địa chỉ</th>
                                    <td class="text-center"> {{TenKhachHang_ThanhToan.value.diaChi}}</td>
                                </tr>
                                <tr>
                                    <th>CCCD</th>
                                    <td class="text-center"> {{TenKhachHang_ThanhToan.value.cccd}}</td>
                                </tr>
                                <tr>
                                    <th>Ngày sinh</th>
                                    <td class="text-center"> {{TenKhachHang_ThanhToan.value.ngaySinh | date:
                                        "dd/MM/yyyy"}}</td>
                                </tr>
                                <tr>
                                    <th>Giới tính</th>
                                    <td class="text-center"> {{TenKhachHang_ThanhToan.value.gioiTinh}}</td>
                                </tr>
                                <tr>
                                    <th>Email</th>
                                    <td class="text-center"> {{TenKhachHang_ThanhToan.value.email}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    @if(TourThanhToan_HienThi){
                    <div class="col-lg-4 d-flex flex-column">
                        <h5>Thông tin đặt tour</h5>
                        <table class="table table-bordered table-striped flex-grow-1">
                            <tbody>
                                <tr>
                                    <th>Mã đặt tour</th>
                                    <td class="text-center">{{TourThanhToan_HienThi[0].idDatTour}}</td>
                                </tr>

                                <tr>
                                    <th>Mã tour</th>
                                    <td class="text-center">{{TourThanhToan_HienThi[0].idTour}}</td>
                                </tr>

                                <tr>
                                    <th>Tour du lịch</th>
                                    <td class="text-center">{{TourThanhToan_HienThi[0].tourDuLich}}</td>
                                </tr>
                                <tr>
                                    <th>SL người lớn</th>
                                    <td class="text-center">{{TourThanhToan_HienThi[0].soLuongNguoiLon}}</td>
                                </tr>
                                <tr>
                                    <th>SL trẻ em</th>
                                    <td class="text-center">{{TourThanhToan_HienThi[0].soLuongTreEm}}</td>
                                </tr>
                                <tr>
                                    <th>Ghi chú</th>
                                    <td class="text-center">{{TourThanhToan_HienThi[0].ghiChu}}</td>
                                </tr>
                                <tr>
                                    <th>Nhân viên</th>
                                    <td class="text-center">{{TourThanhToan_HienThi[0].idNhanVien}} -
                                        {{this.TourThanhToan_HienThi[0].tenNhanVien}}</td>
                                </tr>
                                <tr>
                                    <th>Thời gian đặt tour</th>
                                    <td class="text-center">{{TourThanhToan_HienThi[0].thoiGianDatTour}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                    <div class="col-lg-4 d-flex flex-column">
                        <h5>Thông tin thanh toán</h5>
                        <table class="table table-bordered table-striped w-100 flex-grow-1">
                            <thead>
                                <tr>
                                    <th class="text-center">Giá người lớn</th>
                                    <th class="text-center">Giá trẻ em</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center"> {{LayTourDangThanhToan.giaNguoiLon| number:'':'en'}}</td>
                                    <td class="text-center"> {{LayTourDangThanhToan.giaTreEm| number:'':'en'}}</td>
                                </tr>
                                <tr>
                                    <th>Thời gian tour</th>
                                    <td class="text-center">{{LayTourDangThanhToan.SoNgayDem}}</td>
                                </tr>
                                <tr>
                                    <th>Sl người lớn</th>
                                    <td class="text-center">{{TourThanhToan_HienThi[0].soLuongNguoiLon}} x
                                        {{LayTourDangThanhToan.giaNguoiLon| number:'':'en'}}</td>
                                </tr>
                                <tr>
                                    <th>Sl trẻ em</th>
                                    <td class="text-center">{{TourThanhToan_HienThi[0].soLuongTreEm}} x
                                        {{LayTourDangThanhToan.giaTreEm| number:'':'en'}}</td>
                                </tr>
                                <tr>
                                    <th>Tổng tiền dịch vụ</th>
                                    <td class="text-center">{{TongTien_DichVu_ThanhToan| number:'':'en'}}</td>
                                </tr>
                                <tr>
                                    <th>Tổng cộng</th>
                                    <td class="text-center">{{TongTien_ThanhToan| number:'':'en'}}</td>
                                </tr>

                                <tr>
                                    <th class="align-middle">Phương thức thanh toán</th>
                                    <td class="align-middle">
                                        <div class="form-check">
                                            <input class="form-check-input" checked type="radio" name="paymentOption"
                                                value="" id="traTruoc">
                                            <label class="form-check-label" for="traTruoc">
                                                Trả trước
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="paymentOption" value=""
                                                id="traSau">
                                            <label class="form-check-label" for="traSau">
                                                Trả sau
                                            </label>
                                        </div>
                                    </td>

                                </tr>


                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-12">

                    </div>
                    @if(ThongTinDichVuThanhToan.length>0){


                    <h5>Các dịch vụ đã đặt</h5>
                    <table class="table table-bordered table-striped w-100">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Id dịch vụ</th>
                                <th>Tên dịch vụ</th>
                                <th>Số lượng</th>
                                <th>Giờ bắt đầu</th>
                                <th>Giờ kết thúc</th>
                                <th>Giá tiền</th>
                                <th>Đơn vị tính</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (dv of ThongTinDichVuThanhToan; track $index) {
                            <tr>
                                <td>{{$index +1}}</td>
                                <td>{{dv.idDichVu}}</td>
                                <td>{{dv.dichVu.tenDichVu}}</td>
                                <td>{{dv.soLuong}}</td>
                                <td>{{dv.dichVu.gioBatDau}}</td>
                                <td>{{dv.dichVu.gioKetThuc}}</td>
                                <td>{{dv.dichVu.giaTien}}</td>
                                <td>{{dv.dichVu.donViTinh}}</td>
                            </tr>
                            }
                        </tbody>
                    </table>

                    }
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" (click)="onThanhToan()">Thanh toán</button>
            </div>
        </div>
    </div>
</div>
}