<app-second-header></app-second-header>
<div *ngIf="loaderServices.isLoading | async">
    <app-loading-giaodien></app-loading-giaodien>
</div>
<div class="mat-elevation-z2 container" style="margin-top: 100px;">
    <div class="mat-title pt-3 ps-2 pe-2">LỊCH SỬ ĐẶT TOUR CỦA BẠN</div>
    <div class="mat-body-1 ps-2 pe-2 pt-5">
        <table mat-table [dataSource]="DatTour" class="mat-elevation-z8">
            <!-- STT Column -->
            <ng-container matColumnDef="STT">
                <th mat-header-cell *matHeaderCellDef class="col-1"> STT </th>
                <td mat-cell *matCellDef="let element; let i = index;" class="col-1"> {{i + 1}} </td>
            </ng-container>

            <!-- Mã đặt tour Column -->
            <ng-container matColumnDef="MaDatTour">
                <th mat-header-cell *matHeaderCellDef class="col-2"> Mã đặt tour </th>
                <td mat-cell *matCellDef="let element;" class="col-2"> {{element.idDatTour}} </td>
            </ng-container>

            <!-- Tour du dịch Column -->
            <ng-container matColumnDef="TourDuLich">
                <th mat-header-cell *matHeaderCellDef class="col-5"> Tour du dịch </th>
                <td mat-cell *matCellDef="let element;"> {{element.TourDuLich?.tenTour || 'N/A'}} </td>
            </ng-container>

            <!-- Ngày đặt Column -->
            <ng-container matColumnDef="NgayDat">
                <th mat-header-cell *matHeaderCellDef class="col-2"> Ngày đặt </th>
                <td mat-cell *matCellDef="let element;"> {{element.thoiGianDatTour | date: "dd/MM/yyyy-hh:mm:ss"}} </td>
            </ng-container>

            <!-- Tình trạng Column -->
            <ng-container matColumnDef="TinhTrang">
                <th mat-header-cell *matHeaderCellDef class="col-2"> Tình trạng </th>
                <td mat-cell *matCellDef="let element;" [ngClass]="{
                    'table-success': element.tinhTrang === 'Đã thanh toán',
                    'table-warning': element.tinhTrang === 'Đang đợi duyệt',
                    'table-danger': element.tinhTrang === 'Đã hủy',
                    'table-info': !(element.tinhTrang === 'Đã thanh toán' || element.tinhTrang === 'Đang đợi duyệt' || element.tinhTrang === 'Đã hủy')
                }">
                        <div class="d-flex align-items-center">
                    <span class="badge" [ngClass]="{
                        'bg-success': element.tinhTrang === 'Đã thanh toán',
                        'bg-warning': element.tinhTrang === 'Đang đợi duyệt',
                        'bg-danger': element.tinhTrang === 'Đã hủy',
                        'bg-info': !(element.tinhTrang === 'Đã thanh toán' || element.tinhTrang === 'Đang đợi duyệt' || element.tinhTrang === 'Đã hủy')
                    }"> {{element.tinhTrang}} </span>
                        <button mat-icon-button *ngIf="element.tinhTrang === 'Đã thanh toán'" (click)="viewDetail(element.idDatTour)">
                            <mat-icon svgIcon="icon_eye"></mat-icon>
                        </button>
                        <button mat-icon-button *ngIf="element.tinhTrang === 'Đang đợi duyệt'" (click)="cancelBooking(element.idDatTour)">
                            <mat-icon svgIcon="icon_close"></mat-icon>
                        </button>
                       
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="['STT', 'MaDatTour', 'TourDuLich', 'NgayDat', 'TinhTrang']"></tr>
            <tr mat-row *matRowDef="let row; columns: ['STT', 'MaDatTour', 'TourDuLich', 'NgayDat', 'TinhTrang'];"></tr>
        </table>
        <div class="mat-body-1 text-center" *ngIf="DatTour.length === 0">Không tìm thấy lịch sử đặt tour của bạn</div>
    </div>
</div>
