<div class="container-fluid">
    <div class="row">
      <!-- Main Sidebar -->
      <app-main-sidebar class="p-0"></app-main-sidebar>
      <!-- End Main Sidebar -->
      <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
        <div class="main-navbar sticky-top bg-white">
          <!-- Main Navbar -->
          <app-main-navbar></app-main-navbar>
        </div>
        <!-- / .main-navbar -->



        <!-- Start dịch vụ -->
        <div class="main-content-container container-fluid px-4">
            <div class="page-header row no-gutters py-4">
                <div class="container">
                    <h1 mat-dialog-title >Sửa tour - {{model?.idTour}}</h1>
                        <div class="row">
                            <form [formGroup]="suaTourForm">
                                <div class="row">
                                    
                                    
                                            <mat-form-field>
                                                <mat-label>Tên tour</mat-label>
                                                <input matInput formControlName="tenTour" [errorStateMatcher]="matcher" />
                                                @if (tenTour?.errors?.['required']) {
                                                  <mat-error>Vui lòng nhập tên tour</mat-error>
                                                  } 
                                                @else if (tenTour?.errors?.['minlength']) {
                                                  <mat-error>Tên tour quá ngắn</mat-error>
                                                  }
                                                @else if (tenTour?.errors?.['maxlength']) {
                                                    <mat-error>Tên tour quá dài</mat-error>
                                                  }
                                              </mat-form-field>
                                   

                                    
                                            <mat-form-field appearance="fill">
                                                <mat-label>Loại Tour</mat-label>
                                                <mat-select formControlName="loaiTour" [errorStateMatcher]="matcher">
                                                  <mat-option value="Du lịch sinh thái">Du lịch sinh thái</mat-option>
                                                  <mat-option value="Du lịch văn hóa">Du lịch văn hóa</mat-option>
                                                  <mat-option value="Du lịch nghỉ dưỡng">Du lịch nghỉ dưỡng</mat-option>
                                                  <mat-option value="Du lịch giải trí">Du lịch giải trí</mat-option>
                                                  <mat-option value="Du lịch thể thao">Du lịch thể thao</mat-option>
                                                  <mat-option value="Du lịch khám phá">Du lịch khám phá</mat-option>
                                                  <mat-option value="Du lịch mạo hiểm">Du lịch mạo hiểm</mat-option>
                                                  <mat-option value="Du lịch kết hợp">Du lịch kết hợp</mat-option>
                                                  <mat-option value="Du lịch gia đình">Du lịch gia đình</mat-option>
                                                  <mat-option value="Du lịch theo đoàn">Du lịch theo đoàn</mat-option>
                                                  <mat-option value="Du lịch cá nhân">Du lịch cá nhân</mat-option>
                                                  <mat-option value="Du lịch biển">Du lịch biển</mat-option>
                                                  <mat-option value="Du lịch núi">Du lịch núi</mat-option>
                                                  <mat-option value="Du lịch đô thị">Du lịch đô thị</mat-option>
                                                  <mat-option value="Du lịch thôn quê">Du lịch thôn quê</mat-option>
                                                  <mat-option value="Tham quan thác">Tham quan thác</mat-option>
                                                  <mat-option value="Thăm quan vườn cà phê">Thăm quan vườn cà phê</mat-option>
                                                </mat-select>
                                                @if (loaiTour?.errors?.['required']) {
                                                  <mat-error>Vui lòng chọn loại tour</mat-error>
                                                  } 
                                              </mat-form-field>                              
                                     
        
                              
                                            <mat-form-field>
                                                <mat-label>Phương tiện di chuyển</mat-label>
                                                <mat-select formControlName="phuongTienDiChuyen" [errorStateMatcher]="matcher">
                                                  <mat-option value="Xe ô tô">Xe ô tô</mat-option>
                                                  <mat-option value="Xe máy">Xe máy</mat-option>
                                                </mat-select>
                                                @if (phuongTienDiChuyen?.errors?.['required']) {
                                                  <mat-error>Vui lòng chọn phương tiện di chuyển</mat-error>
                                                  } 
                                              </mat-form-field>
                                    
        
                                
                                            <mat-form-field>
                                                <mat-label>Số lượng người lớn</mat-label>
                                                <input matInput type="number" formControlName="soLuongNguoiLon" [errorStateMatcher]="matcher" />
                                                @if (soLuongNguoiLon?.errors?.['required']) {
                                                  <mat-error>Vui lòng nhập số lượng người lớn</mat-error>
                                                  } 
                                                @else if (soLuongNguoiLon?.errors?.['min']) {
                                                  <mat-error>Số lượng người lớn phải hơn 0</mat-error>
                                                  }
                                                @else if (soLuongNguoiLon?.errors?.['max']) {
                                                    <mat-error>Số lượng người vượt quá mức cho phép</mat-error>
                                                  }
                                              </mat-form-field>
                                    
        
                                   
                                            <mat-form-field>
                                                <mat-label>Số lượng trẻ em</mat-label>
                                                <input matInput type="number" formControlName="soLuongTreEm" [errorStateMatcher]="matcher" />
                                                @if (soLuongTreEm?.errors?.['required']) {
                                                  <mat-error>Vui lòng nhập số lượng trẻ em</mat-error>
                                                  } 
                                                @else if (soLuongTreEm?.errors?.['min']) {
                                                  <mat-error>Số lượng trẻ em phải hơn 0</mat-error>
                                                  }
                                                @else if (soLuongTreEm?.errors?.['max']) {
                                                    <mat-error>Số lượng trẻ em vượt quá mức cho phép</mat-error>
                                                  }
                                              </mat-form-field>
                                  
        
                                            <mat-form-field>
                                                <mat-label>Giá người lớn</mat-label>
                                                <input matInput type="number" formControlName="giaNguoiLon" [errorStateMatcher]="matcher" />
                                                @if (giaNguoiLon?.errors?.['required']) {
                                                  <mat-error>Vui lòng nhập giá người lớn</mat-error>
                                                  } 
                                                @else if (giaNguoiLon?.errors?.['min']) {
                                                  <mat-error>Giá vé không được nhỏ hơn 0</mat-error>
                                                  }
                                                @else if (giaNguoiLon?.errors?.['max']) {
                                                    <mat-error>Giá vé vượt quá mức cho phép</mat-error>
                                                  }
                                              </mat-form-field>
                                     
        
                                    
                                            <mat-form-field>
                                                <mat-label>Giá trẻ em</mat-label>
                                                <input matInput type="number" formControlName="giaTreEm" [errorStateMatcher]="matcher"/>
                                                @if (giaTreEm?.errors?.['required']) {
                                                  <mat-error>Vui lòng nhập giá trẻ em</mat-error>
                                                  } 
                                                @else if (giaTreEm?.errors?.['min']) {
                                                  <mat-error>Giá vé không được nhỏ hơn 0</mat-error>
                                                  }
                                                @else if (giaTreEm?.errors?.['max']) {
                                                    <mat-error>Giá vé vượt quá mức cho phép</mat-error>
                                                  }
                                              </mat-form-field>
                                      
        
                                   
                                            <mat-form-field>
                                                <mat-label>Số chỗ còn nhận</mat-label>
                                                <input matInput type="number" formControlName="soChoConNhan"[errorStateMatcher]="matcher" />
                                                @if (soChoConNhan?.errors?.['required']) {
                                                  <mat-error>Vui lòng nhập số chỗ còn nhận</mat-error>
                                                  } 
                                                @else if (soChoConNhan?.errors?.['min']) {
                                                  <mat-error>Số chỗ quá ít</mat-error>
                                                  }
                                                @else if (soChoConNhan?.errors?.['max']) {
                                                    <mat-error>Số chỗ quá nhiều</mat-error>
                                                  }
                                              </mat-form-field>
                                   
                                              <mat-form-field>
                                                <mat-label>Nơi khởi hành</mat-label>
                                                <input matInput formControlName="noiKhoiHanh" [errorStateMatcher]="matcher"/>
                                                @if (noiKhoiHanh?.errors?.['required']) {
                                                  <mat-error>Vui lòng nhập nơi khởi hành</mat-error>
                                                  } 
                                                @else if (noiKhoiHanh?.errors?.['minlength']) {
                                                  <mat-error>Nơi khởi hành quá ngắn</mat-error>
                                                  }
                                                @else if (noiKhoiHanh?.errors?.['maxlength']) {
                                                    <mat-error>Nơi khởi hành quá dài</mat-error>
                                                  }
                                              </mat-form-field>
        
                                    <div class="row">
                                        <div class="col-lg-6">
                                          <mat-label>Thời gian bắt đầu</mat-label>
                                          <input matInput formControlName="thoiGianBatDau" id='element' [errorStateMatcher]="matcher"/>
                                          @if (thoiGianBatDau?.errors?.['required']) {
                                            <mat-error>Vui lòng chọn thời gian bắt đầu</mat-error>
                                            } 
                                        </div>
                                        <div class="col-lg-6">
                                            <mat-label>Thời gian kết thúc</mat-label>
                                            <input matInput formControlName="thoiGianKetThuc" id='element2' [errorStateMatcher]="matcher"/>
                                            @if (thoiGianBatDau?.errors?.['required']) {
                                              <mat-error>Vui lòng chọn thời gian bắt đầu</mat-error>
                                              } 
                                        </div>
                                      </div>
        
                                      <mat-form-field appearance="fill">
                                        <mat-label>Đối tác</mat-label>
                                        <mat-select formControlName="idDoiTac" id="idDoiTac" [errorStateMatcher]="matcher">
                                          <mat-option *ngFor="let item of DoiTac; let i = index" [value]="item.idDoiTac">
                                            {{ item.tenDoiTac }}
                                          </mat-option>
                                        </mat-select>
                                        @if (idDoiTac?.errors?.['required']) {
                                          <mat-error>Vui lòng chọn đối tác</mat-error>
                                          } 
                                      </mat-form-field>
                                      
                                      <mat-form-field>
                                        <mat-label>Dịch vụ đi kèm</mat-label>
                                        <input matInput formControlName="dichVuDiKem" [errorStateMatcher]="matcher"/>
                                        @if (dichVuDiKem?.errors?.['required']) {
                                          <mat-error>Vui lòng nhập dịch vụ đi kèm</mat-error>
                                          } 
                                        @else if (dichVuDiKem?.errors?.['minlength']) {
                                          <mat-error>Độ dài quá ngắn</mat-error>
                                          }
                                        @else if (dichVuDiKem?.errors?.['maxlength']) {
                                            <mat-error>Vượt quá mức quy định</mat-error>
                                          }
                                        @else if (dichVuDiKem?.errors?.['invalidChar']) {
                                              <mat-error>Dịch vụ đi kèm không chứa ký tự đặc biệt</mat-error>
                                          } 
                                      </mat-form-field>

                                    <mat-form-field>
                                        <mat-label>Tình trạng</mat-label>
                                        <mat-select formControlName="tinhTrang" [errorStateMatcher]="matcher">
                                          <mat-option value="Đang hoạt động">Đang hoạt động</mat-option>
                                          <mat-option value="Ngưng hoạt động">Ngưng hoạt động</mat-option>
                                          <mat-option value="Tạm hoãn">Tạm hoãn</mat-option>
                                        </mat-select>
                                        @if (tinhTrang?.errors?.['required']) {
                                          <mat-error>Vui lòng chọn tình trạng</mat-error>
                                          } 
                                      </mat-form-field>
        
        
                                    <!-- Lưu ý: Angular không hỗ trợ binding cho input type="file", bạn cần xử lý riêng -->
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                                <label>Ảnh tour</label> <br>
                                                <button mat-raised-button color="primary" (click)="fileInput.click()">
                                                  Chọn ảnh
                                                </button>
                                                <input #fileInput type="file" multiple style="display: none;">
                                              </div>
                                             
                                        </div>
                                </div>
                          
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="MoTa">Mô tả chi tiết</label>
                                    <!-- Lưu ý: editor không phải là một phần của Angular Forms, bạn cần xử lý riêng -->
                                    <editor  name="Text" formControlName="moTa" id="MoTa" [init]="editorConfig"></editor>
                                </div>
                            </div>
                        </form>
                        </div>
        
        
        
                    <div class="d-flex justify-content-end mt-2">
                        <button mat-raised-button color="basic" (click)="Fn_Display_Description()"
                        style="margin-right: 5px;">Hiển thị
                        previewing mô tả</button>
                        <button mat-raised-button color="primary" (click)="SuaTour()">Sửa tour</button>
                        <button mat-raised-button color="warn" style="margin-right: 5px;" routerLink="/quanlytour">Quay lại</button>
                    </div>
                    <div>
                        <p>Hiển thị previewing ảnh</p>
                        @if(fileImgPreviewFromDb){
                        @for(item of fileImgPreviewFromDb; track $index){
                        <img [src]="item" width="200px" alt="img">
                        <button (click)="XoaImgPreviewing(item)">Xóa</button>
                        }
                        }
                        @if(fileImgPreviewFromBrowse){
                        @for(item of fileImgPreviewFromBrowse; track $index){
                        <img [src]="item" width="200px" alt="img">
                        <button (click)="XoaImgPreviewing(item)">Xóa</button>
                        }
                        }
        
                    </div>
                    <!-- <button (click)="Test()">Lấy kết quả</button> -->
                    @if(IsDisplayPreviewDescription === true){
                    <div style="margin-top: 20px;  margin: 0 auto; max-width: 800px;">
                        <strong>Preview:</strong>
                        <div [innerHTML]="sanitizedText"></div>
                    </div>
                    }
        
                </div>

            </div>
        </div>
        <!-- End dịch vụ -->





        <app-footer-main-admin></app-footer-main-admin>
      </main>
    </div>
  </div>