mat-card {
  margin: 2%;
  text-align: left;
}

button {
  margin: 2px;
}
.dv_img_previewing {
  position: relative;
}
.btn_Delete_Img {
  position: absolute;
  right: 10px;
  top: -2px;
  border: 0;
  background-color: red;
  color: white;
}
.dv_img_previewing {
  position: relative;
}
.btn_Delete_Img {
  position: absolute;
  right: 2px;
  top: -2px;
  border: 0;
  background-color: red;
  color: white;
}
.dv_khung_img {
  border: 1px solid gray;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
}
