<header class="container_large_header fixedHeader">
    <div class="container_medium_first_header_total" style="z-index: 10000;">
        <div class="container_medium_first_header">
            <div class="left_medium_first_header">
                <ul style="user-select: text;" class="desktop_hide">
                    <li><span><i class="bi bi-geo-alt-fill"></i> Buôn Ma Thuột:
                            {{clock | date: "dd/MM/yyyy "}}</span></li>

                    <li><span><i class="bi bi-telephone"></i> 0869536182</span></li>
                </ul>
            </div>
            <div class="right_medium_first_header ">

                <ng-container *ngIf="user === undefined; else showLogout">
                    <ul>
                        <li><a routerLink="/login">Đăng nhập</a></li>
                        <li><a routerLink="/register">Đăng ký</a></li>
                        <li><a href="#">VN <i style="font-size: 10px;" class="bi bi-chevron-down"></i></a>
                            <ul class="submenu_first_header">
                                <li><a href="#">English</a></li>
                                <li><a href="#">Tiếng việt</a></li>
                            </ul>
                        </li>
                    </ul>
                </ng-container>


                <ng-template #showLogout>

                    <ul>
                        <li>
                            <!-- <span>{{user?.email}}</span> -->

                            <button mat-button [matMenuTriggerFor]="menu" class="text-white">Xin chào!
                                {{user?.email}}</button>
                            <mat-menu #menu="matMenu" style="z-index: 10000;">
                                <button mat-menu-item><mat-icon svgIcon="icon_User"></mat-icon> Thông tin cá
                                    nhân</button>
                                <button mat-menu-item routerLink="/lichsudattour"><mat-icon
                                        svgIcon="icon_History"></mat-icon> Lịch sử đặt tour</button>
                                <button mat-menu-item (click)="onLogout()"> <mat-icon svgIcon="icon_Logout"></mat-icon>
                                    Đăng xuất</button>
                            </mat-menu>

                        </li>
                        <!-- <li> <button class="btn btn-primary ms-3" (click)="onLogout()">Đăng xuất</button></li> -->
                        <li>
                            <!-- <a href="#">VN <i style="font-size: 10px;" class="bi bi-chevron-down"></i></a>
                            <ul class="submenu_first_header">
                                <li><a href="#">English</a></li>
                                <li><a href="#">Tiếng việt</a></li>
                            </ul> -->


                            <button mat-button [matMenuTriggerFor]="menu1" class="text-white">Ngôn ngữ</button>
                            <mat-menu #menu1="matMenu">
                                <button mat-menu-item><mat-icon svgIcon="icon_VietNam"></mat-icon> Tiếng việt</button>
                                <button mat-menu-item (click)="onLogout()"> <mat-icon svgIcon="icon_Us"></mat-icon>
                                    Tiếng anh</button>
                            </mat-menu>
                        </li>
                    </ul>
                </ng-template>



            </div>
        </div>
    </div>
    <div class="container_medium_second_header text-dark" style="z-index: 0;">
        <div class="left_medium_second_header">
            <div class="logo_header">
                <!-- <img src="assets/logoHeader.svg" class="logo_header_img" alt="logo_header"> -->
                <span class="Logo_Team item_medium_second_header text-dark" routerLink="/trangchu">ASAP</span>
            </div>
        </div>
        <div class="right_medium_second_header ">

            <ul class="desktop_hide">
                <li class="mobile_block">
                    <div class="box align-items-center d-flex">
                        <input type="text" placeholder="Tìm kiếm...">
                        <span class="align-items-center">
                            <!-- <i class="bi bi-search" style="color: #40679E;
                            font-size: 18px;"></i> -->
                            <mat-icon svgIcon="icon_Search"> </mat-icon>
                        </span>
                    </div>
                </li>
                <li routerLink="/trangchu"><a class="item_medium_second_header text-dark">Trang chủ</a></li>
                <li routerLink="/lienhe"><a class="item_medium_second_header text-dark">Liên hệ</a></li>
                <li routerLink="/dattour/tatca"><a class="item_medium_second_header text-dark">Đặt tour</a></li>
                <li routerLink="/diemden"><a class="item_medium_second_header text-dark">Điểm đến</a></li>
                <!-- <li routerLink="/lichsudattour"><a class="item_medium_second_header text-dark">Lịch sử</a></li> -->

            </ul>
            <ul class="mobile_hide">
                <!-- phần này để mở off canvas -->
                <li data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    <i class="bi bi-list item_medium_second_header"></i>
                </li>
            </ul>
        </div>

    </div>

</header>

<div class="offcanvas offcanvas-start" style="z-index: 100001;" tabindex="-1" id="offcanvasExample"
    aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="menu_canvas_first">
        <ul>
            <li routerLink="/trangchu" data-bs-dismiss="offcanvas"><a>Trang chủ</a></li>
            <li routerLink="/lienhe" data-bs-dismiss="offcanvas"><a>Liên hệ</a></li>
            <li routerLink="/dattour" data-bs-dismiss="offcanvas"><a>Đặt tour</a></li>
            <li routerLink="/diemden" data-bs-dismiss="offcanvas"><a>Điểm đến</a></li>

        </ul>
    </div>
</div>