<nav class="navbar align-items-stretch navbar-light flex-md-nowrap">
  <form action="#" class="main-navbar__search w-100 d-none d-md-flex d-lg-flex">
    <div class="input-group input-group-seamless ml-3">
      <div class="input-group-prepend">
        <div class="input-group-text">
          <h5><span>{{clock | date: "dd/MM/yyyy "}}</span></h5>
        </div>
      </div>
    </div>
  </form>
  <ul class="navbar-nav border-left flex-row ">
    <li class="nav-item border-right dropdown notifications">
      <a class="nav-link nav-link-icon text-center" role="button" id="dropdownMenuLink" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        <div class="nav-link-icon__wrapper">
          <i class="material-icons">&#xE7F4;</i>
          <span class="badge badge-pill badge-danger">2</span>
        </div>
      </a>
      <div class="dropdown-menu dropdown-menu-small" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">
          <div class="notification__icon-wrapper">
            <div class="notification__icon">
              <i class="material-icons">&#xE6E1;</i>
            </div>
          </div>
          <div class="notification__content">
            <span class="notification__category">Phân tích</span>
            <p>Số lượng người dùng hoạt động trên trang web của bạn đã tăng lên
              <span class="text-success text-semibold">28%</span> trong tuần qua. Bạn đã làm rất tốt!
            </p>
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="notification__icon-wrapper">
            <div class="notification__icon">
              <i class="material-icons">&#xE8D1;</i>
            </div>
          </div>
          <div class="notification__content">
            <span class="notification__category">Việc bán hàng</span>
            <p>Tuần trước số lượng bán hàng của cửa hàng của bạn đã giảm đi
              <span class="text-danger text-semibold">5.52%</span>. Nó có thể trở nên tồi tệ!
            </p>
          </div>
        </a>
        <a class="dropdown-item notification__all text-center" href="#"> Xem tất cả thông báo </a>
      </div>
    </li>
    <li class="nav-item dropdown">

      <ng-container *ngIf="user === undefined; else showLogout">
        <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="false">
          <img class="user-avatar rounded-circle mr-2"
            src="https://i.pinimg.com/474x/e1/05/05/e105050383d1d26ed9009e2deb6528f9.jpg" alt="User Avatar">
          <span class="d-none d-md-inline-block">Ngần Phi Hoàng</span>
        </a>
      </ng-container>

      <ng-template #showLogout>
        <a class="nav-link dropdown-toggle text-nowrap px-3" data-toggle="dropdown" role="button" aria-haspopup="true"
          aria-expanded="false">
          <img class="user-avatar rounded-circle mr-2"
            src="https://i.pinimg.com/474x/e1/05/05/e105050383d1d26ed9009e2deb6528f9.jpg" alt="User Avatar">
          <span class="d-none d-md-inline-block">{{user?.email}}</span>
        </a>
      </ng-template>

      <div class="dropdown-menu dropDown_dv dropdown-menu-small bg-white">
        <a class=" dropdown-item bg-white" href="#">
          <i class="material-icons">&#xE7FD;</i> Hồ sơ</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-danger" (click)="onLogout()" style="cursor: pointer;">
          <i class="material-icons text-danger">&#xE879;</i> Đăng xuất </a>
      </div>
    </li>
  </ul>
  <nav class="nav">
    <a href="#" class="nav-link nav-link-icon toggle-sidebar d-md-inline d-lg-none text-center border-left"
      data-toggle="collapse" data-target=".header-navbar" aria-expanded="false" aria-controls="header-navbar">
      <i class="material-icons">&#xE5D2;</i>
    </a>
  </nav>
</nav>