<div style="background-color: #ecf0f5;">

    <app-second-header></app-second-header>
    <div class="container " style="padding: 10px">
        <div class="row total_item_tourplan">
            <div class=" col-lg-3 order-lg-1 order-2">
                <div class="card" style="width: 100%;">
                    <div class="card-header">
                        Featured
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item border-0">Cras justo odio</li>
                        <li class="list-group-item border-0">Dapibus ac facilisis in</li>
                        <li class="list-group-item border-0">Vestibulum at eros</li>
                        <li class="list-group-item border-0">Cras justo odio</li>
                        <li class="list-group-item border-0">Dapibus ac facilisis in</li>
                        <li class="list-group-item border-0">Vestibulum at eros</li>
                        <li class="list-group-item border-0">Cras justo od1io</li>
                        <li class="list-group-item border-0">Dapibus ac facilisis in</li>
                        <li class="list-group-item border-0">Vestibulum at eros</li>
                        <li class="list-group-item border-0">Cras justo odio</li>
                        <li class="list-group-item border-0">Dapibus ac facilisis in</li>
                        <li class="list-group-item border-0">Vestibulum at eros</li>
                    </ul>
                </div>
                <br>
                <br>
                <div class="card" style="width: 100%;">
                    <div class="card-header">
                        Featured
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item border-0">Cras justo odio</li>
                        <li class="list-group-item border-0">Dapibus ac facilisis in</li>
                        <li class="list-group-item border-0">Vestibulum at eros</li>
                        <li class="list-group-item border-0">Cras justo odio</li>
                        <li class="list-group-item border-0">Dapibus ac facilisis in</li>
                        <li class="list-group-item border-0">Vestibulum at eros</li>
                        <li class="list-group-item border-0">Cras justo od1io</li>
                        <li class="list-group-item border-0">Dapibus ac facilisis in</li>
                        <li class="list-group-item border-0">Vestibulum at eros</li>
                        <li class="list-group-item border-0">Cras justo odio</li>
                        <li class="list-group-item border-0">Dapibus ac facilisis in</li>
                        <li class="list-group-item border-0">Vestibulum at eros</li>
                    </ul>
                </div>


            </div>
            <div class="col-lg-9 order-lg-1 tag_tour p-3">
                <p class="title_tour">Tour du lịch từ Buôn Ma Thuột </p>
                <div class="row sort_tour text-center mt-4">
                    <div class="col-3 col-sm-3 text-nowrap item_sort_tour" (click)="ThayDoiMauSort(1)">Đề xuất</div>
                    <div class="col-3 col-sm-3 text-nowrap item_sort_tour" (click)="ThayDoiMauSort(2)">Thời lượng </div>
                    <div class="col-3 col-sm-3 text-nowrap item_sort_tour" (click)="ThayDoiMauSort(3)"> khởi hành</div>
                    <div class="col-3 col-sm-3 text-nowrap item_sort_tour" (click)="ThayDoiMauSort(4)">Giá tour</div>

                </div>
                <div class="total-tour">

                    <div class="tour_element" [routerLink]="'/chitiettour/'+item.idTour"
                        *ngFor="let item of TourDuLich">
                        <div class="row">
                            <div class="col-md-3 col-lg-3">
                                <div class="img_tour">
                                    <img [src]="item.HinhAnhDauTien" alt=""
                                        style="width: 100%; min-height: 150px; object-fit: cover;  ">

                                </div>
                            </div>
                            <div class="col-md-9 col-lg-9">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="text_tour">
                                            <div class="_card_title_tour">
                                                {{item.tenTour}}

                                            </div>
                                            <div>
                                                <span class="badge bg-success">10.0 </span><span> Tuyệt vời | 1 đánh
                                                    giá</span>
                                            </div>
                                            <div>
                                                <span>
                                                    <i class="bi bi-stopwatch me-1"></i> <span>{{item.SoNgayDem}}</span>
                                                </span>

                                            </div>
                                            <div>
                                                <span>
                                                    Phương tiện: {{item.phuongTienDiChuyen}}
                                                </span>
                                            </div>
                                            <div>
                                                <span>
                                                    <i class="bi bi-person me-1"></i>
                                                </span>
                                                <span>Còn {{item.soChoConNhan}} chỗ</span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="price_tour">
                                            <div class="khoiHanh_text d-flex justify-content-end"><span>
                                                    Khởi hành: <span>{{item.ngayKhoiHanh}}</span>
                                                </span></div>
                                            <div class="GiaGoc_text d-flex justify-content-end">
                                                <span>6.690.000 VND</span>

                                            </div>
                                            <div class="GiaDaGiam_text d-flex justify-content-end">
                                                <span class="_GiaDaGiam_text">3000000
                                                </span>
                                                <span>VND</span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>









                </div>

            </div>

        </div>

    </div>
</div>
<app-footer></app-footer>