<div style="background-color: #ecf0f5;">

    <app-second-header></app-second-header>
    <div class="container " style="padding: 10px">
        <div class="row total_item_tourplan">
            <div class=" col-lg-3 order-lg-1 order-2">
                <div class="card" style="width: 100%;">
                    <div class="card-header">
                        Featured
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Cras justo od1io</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>
                <br>
                <br>
                <div class="card" style="width: 100%;">
                    <div class="card-header">
                        Featured
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>


            </div>
            <div class="col-lg-9 order-lg-1 tag_tour p-3">
                <p class="title_tour">Tour du lịch từ Buôn Ma Thuột </p>
                <div class="row sort_tour text-center mt-4">
                    <div class="col-3 col-sm-3 text-nowrap item_sort_tour" (click)="ThayDoiMauSort(1)">Đề xuất</div>
                    <div class="col-3 col-sm-3 text-nowrap item_sort_tour" (click)="ThayDoiMauSort(2)">Thời lượng </div>
                    <div class="col-3 col-sm-3 text-nowrap item_sort_tour" (click)="ThayDoiMauSort(3)"> khởi hành</div>
                    <div class="col-3 col-sm-3 text-nowrap item_sort_tour" (click)="ThayDoiMauSort(4)">Giá tour</div>

                </div>
                <div class="total-tour">
                    <div class="tour_element" routerLink="/chitiettour">
                        <div class="row">
                            <div class="col-md-3 col-lg-3">
                                <div class="img_tour">
                                    <img src="https://cdn.pixabay.com/photo/2015/10/30/20/13/sunrise-1014712_1280.jpg"
                                        alt="" style="width: 100%; height: auto;">

                                </div>
                            </div>
                            <div class="col-md-9 col-lg-9">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="text_tour">
                                            <div class="_card_title_tour">
                                                Tour Côn Đảo 2N1Đ: Hành Hương Cô Sáu Linh Thiêng

                                            </div>
                                            <div>
                                                <span class="badge bg-success">10.0 </span><span> Tuyệt vời | 1 đánh
                                                    giá</span>
                                            </div>
                                            <div>
                                                <span>
                                                    <i class="bi bi-stopwatch"></i> <span>2 Ngày 2 Đêm</span>
                                                </span>
                                                <span>
                                                    Phương tiện: <i class="bi bi-car-front-fill"></i>
                                                </span>
                                            </div>
                                            <div>
                                                <span>
                                                    <i class="bi bi-person"></i>
                                                </span>
                                                <span>Còn 10 chỗ</span>
                                            </div>
                                            <div>
                                                Hành Hương Côn Đảo -> Tham Quan Di Tích Nhà Tù -> Cơ Sở Nuôi Ngọc Trai
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="price_tour">
                                            <div class="khoiHanh_text d-flex justify-content-end"><span>
                                                    Khởi hành: <span>09-03-2024</span>
                                                </span></div>
                                            <div class="GiaGoc_text d-flex justify-content-end">
                                                <span>6.690.000 VND</span>

                                            </div>
                                            <div class="GiaDaGiam_text d-flex justify-content-end">
                                                <span class="_GiaDaGiam_text">6.390.000
                                                </span>
                                                <span>VND</span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>









                </div>

            </div>

        </div>

    </div>
</div>
<app-footer></app-footer>