r<!-- <div class="container">
  <div class="mt-5">
    <div class="col-12 col-md-6 col-lg-4 mx-auto">
      <h1>Đăng ký</h1>

      <form [formGroup]="register" (submit)="onFormSubmit()">
        <div class="mt-3">
          <label class="form-label">Email</label>
          <input type="text" formControlName="email" class="form-control" />
        </div>

        <div class="mt-3">
          <label class="form-label">Mật khẩu</label>
          <input type="password" formControlName="password" class="form-control" />
        </div>
        <div class="mt-3">
          <label class="form-label">Nhập lại mật khẩu</label>

          <input type="password" class="form-control" formControlName="confirmPassword" />
        </div>

        <div class="mt-3">
          <button type="submit" class="btn btn-primary">Đăng ký</button>
        </div>
      </form>
    </div>
  </div>
</div> -->

<div class="container-fluid">


  <div class="container">
    <div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
      <div class="row w-100 ">



        <div
          class="patterm_Login bg-white col-lg-5 col-md-8 mx-auto pt-lg-5 pt-md-3 pt-sm-2 pt-0  pb-4 pb-md-3 pb-sm-2 pb-0">
          <div class="_title_Login text-center pt-4">
            Đăng ký
          </div>
          <div class="_descriptionTitle mt-1 text-center">
            <span>Đăng ký tài khoản của bạn</span>
          </div>

          <div class="ps-lg-5 ps-md-4 ps-sm-2 ps-1 pe-lg-5 pe-md-4 pe-sm-2 pe-1">
            <form [formGroup]="register" (submit)="onFormSubmit()">
              <div class="_frm_ipt_login pt-4 ">
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Email</mat-label>
                  <mat-icon matPrefix svgIcon="user-login" aria-hidden="false"
                    aria-label="Example thumbs up SVG icon"></mat-icon>
                  <input matInput formControlName="email" placeholder="Email" [errorStateMatcher]="matcher">
                  @if (email?.errors?.['required']) {
                    <mat-error>Email không được để trống</mat-error>
                    } 
                  @else if (email?.errors?.['minlength']) {
                    <mat-error>Email không hợp lệ</mat-error>
                    }
                  @else if (email?.errors?.['maxlength']) {
                      <mat-error>Email không hợp lệ</mat-error>
                    }
                  @else if (email?.errors?.['pattern']) {
                      <mat-error>Email không hợp lệ</mat-error>
                    }
                  @else if (email?.errors?.['invalidEmail']) {
                      <mat-error>Email không đã tồn tại</mat-error>
                    }
                  @else if (email?.errors?.['whitespace']) {
                      <mat-error>Email không chứa khoảng trắng</mat-error>
                  }
                </mat-form-field>
                <mat-form-field class="example-full-width w-100">
                  <mat-label>Họ và tên</mat-label>
                  <mat-icon matPrefix svgIcon="user-login" aria-hidden="false"
                    aria-label="Example thumbs up SVG icon"></mat-icon>
                  <input matInput formControlName="userName" placeholder="Họ và tên"[errorStateMatcher]="matcher">
                  @if (userName?.errors?.['required']) {
                    <mat-error>Họ tên không được để trống</mat-error>
                    } 
                  @else if (userName?.errors?.['minlength']) {
                    <mat-error>Họ và tên quá ngắn</mat-error>
                    }
                  @else if (userName?.errors?.['maxlength']) {
                      <mat-error>Họ và tên quá dài</mat-error>
                    }
                  @else if (userName?.errors?.['invalidChar']) {
                        <mat-error>Họ và tên không chứa ký tự đặc biệt & số</mat-error>
                    }   
                  @else if (userName?.errors?.['whitespace']) {
                      <mat-error>Họ và tên không chứa chứa khoảng trắng</mat-error>
                  } 
                </mat-form-field>


                <mat-form-field class="example-full-width d-block w-100">
                  <mat-label>Mật khẩu</mat-label>
                  <mat-icon matPrefix svgIcon="password-login" aria-hidden="false"
                    aria-label="Example thumbs up SVG icon"></mat-icon>
                  <input matInput placeholder="Mật khẩu" formControlName="password"[errorStateMatcher]="matcher">
                  @if (password?.errors?.['required']) {
                    <mat-error>Mật khẩu không được để trống</mat-error>
                    } 
                  @else if (password?.errors?.['minlength']) {
                    <mat-error>Mật khẩu quá ngắn</mat-error>
                    }
                  @else if (password?.errors?.['maxlength']) {
                      <mat-error>Mật khẩu quá dài</mat-error>
                    }
                    @else if (password?.errors?.['MatKhauDauTienInvalid']) {
                      <mat-error>Mật khẩu không trùng khớp vui lòng nhập lại</mat-error>
                      }
                    
                  <mat-icon matSuffix svgIcon="eye-login" aria-hidden="false"
                    aria-label="Example thumbs up SVG icon"></mat-icon>
                </mat-form-field>

                <mat-form-field class="example-full-width d-block w-100">
                  <mat-label>Nhập lại mật khẩu</mat-label>
                  <mat-icon matPrefix svgIcon="password-login" aria-hidden="false"
                    aria-label="Example thumbs up SVG icon"></mat-icon>
                  <input matInput placeholder="Nhập lại mật khẩu" formControlName="confirmPassword" [errorStateMatcher]="matcher">
                  @if (confirmPassword?.errors?.['required']) {
                    <mat-error>Nhập lại mật khẩu không được để trống</mat-error>
                    } 
                  @else if (confirmPassword?.errors?.['minlength']) {
                    <mat-error>Mật khẩu không đúng</mat-error>
                    }
                  @else if (confirmPassword?.errors?.['maxlength']) {
                    <mat-error>Mật khẩu không đúng</mat-error>
                    }
                  @else if (confirmPassword?.errors?.['MatKhauXacNhanInvalid']) {
                    <mat-error>Mật khẩu không trùng khớp vui lòng nhập lại</mat-error>
                    }
                  <mat-icon matSuffix svgIcon="eye-login" aria-hidden="false"
                    aria-label="Example thumbs up SVG icon"></mat-icon>
                </mat-form-field>
              </div>

              <div class="_dv_btn_login  mt-2">
                <button class="btn_login w-100" type="submit" [disabled]="register.invalid">
                  Đăng ký
                </button>
              </div>
            </form>

            <div class="_dv_quenmk mt-2 text-center">
              <span class="">
                Bạn đã có tài khoản ? <i routerLink="/login"><u>Trở về đăng nhập</u></i> !!!
              </span>
            </div>






          </div>
        </div>
      </div>
    </div>
  </div>