<div class="container-fluid">
  <div class="row">
    <!-- Main Sidebar -->
    <app-main-sidebar class="p-0"></app-main-sidebar>
    <!-- End Main Sidebar -->
    <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
      <div class="main-navbar sticky-top bg-white">
        <!-- Main Navbar -->
        <app-main-navbar></app-main-navbar>
      </div>
      <!-- / .main-navbar -->



      <!-- Start dịch vụ -->
      <div class="main-content-container container-fluid px-4">
        <div class="page-header row no-gutters py-4">
          <form [formGroup]="suaTiepNhanDatTour">

            <div class="row">

              <!-- ID đặt tour -->
              <div class="col-lg-3">
                <mat-form-field>
                  <mat-label>Id đặt tour</mat-label>
                  <input matInput formControlName="idDatTour">
                </mat-form-field>
              </div>

              <!-- Tên khách hàng -->
              <div class="col-lg-3">
                <mat-form-field>
                  <mat-label>Tên khách hàng</mat-label>
                  <input matInput formControlName="idKhachHang">
                </mat-form-field>
              </div>

              <!-- ID tour -->
              <div class="col-lg-3">
                <mat-form-field>
                  <mat-label>Id tour</mat-label>
                  <input matInput formControlName="idTour">
                </mat-form-field>
              </div>

              <!-- Số lượng người lớn -->
              <div class="col-lg-3">
                <mat-form-field>
                  <mat-label>Số lượng người lớn</mat-label>
                  <input matInput type="number" formControlName="soLuongNguoiLon">
                </mat-form-field>
              </div>

              <!-- Số lượng trẻ em -->
              <div class="col-lg-3">
                <mat-form-field>
                  <mat-label>Số lượng trẻ em</mat-label>
                  <input matInput type="number" formControlName="soLuongTreEm">
                </mat-form-field>
              </div>

              <!-- Thời gian đặt tour -->
              <div class="col-lg-3">
                <mat-form-field>
                  <mat-label>Thời gian đặt tour</mat-label>
                  <input matInput type="datetime-local" formControlName="thoiGianDatTour">
                </mat-form-field>
              </div>

              <!-- Nhân viên -->
              <div class="col-lg-3">
                <mat-form-field>
                  <mat-label>Nhân viên</mat-label>
                  <input matInput formControlName="idNhanVien">
                </mat-form-field>
              </div>

              <!-- Trạng thái -->
              <div class="col-lg-3">
                <mat-form-field>
                  <mat-label>Trạng thái</mat-label>
                  <mat-select formControlName="tinhTrang">
                    <mat-option value="Đang đợi duyệt">Đang đợi duyệt</mat-option>
                    <mat-option value="Đã đặt tour">Đã đặt tour</mat-option>
                    <mat-option value="Đã hủy">Đã hủy</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>


              <!-- Ghi chú -->

              <mat-form-field>
                <mat-label>Ghi chú</mat-label>
                <textarea matInput formControlName="ghiChu" rows="3"></textarea>
              </mat-form-field>

            </div>
          </form>

          <!-- Dịch vụ -->
          <div>
            @if(TongDichVu.length!==0){
            <span><b>Đăng ký dịch vụ</b></span>
            }
            <div style="max-height: 200px; overflow-y: auto; box-sizing: border-box; overflow-x: hidden;">

              <div *ngFor="let dv of TongDichVu; let i = index">
                <!-- Nội dung của bạn ở đây -->
                <div class="giaNguoiLon _inputGroup border shadow-sm p-0 mt-1 mb-1" style="box-sizing: border-box;">
                  <div class="row flex-nowrap">
                    <div class="col-8 col-sm-8 col-md-7 col-lg-6 d-flex align-items-center">
                      <select class="form-control border-0 shadow-none" [(ngModel)]="_ngDichVuDaChon[i]"
                        name="DichVuDaChon" (change)="ThayDoiDichVu(i)">
                        <option value="">-Chọn dịch vụ-</option>
                        <ng-container *ngFor="let dv of DichVu; let j = index">
                          <option *ngIf="!KiemTraDichVuDaChon(dv.idDichVu,i)" [value]="dv.idDichVu">
                            {{dv.tenDichVu}}
                          </option>
                        </ng-container>
                      </select>


                    </div>


                    <div class="col-4 col-sm-4 col-md-5 col-lg-4  d-flex align-items-center justify-content-center">
                      <div class="input-group" style="box-sizing: border-box;">
                        <div class="input-group-prepend">
                          <span class="input-group-text border-0 bg-transparent " id="basic-addon1"
                            (click)="ThayDoiSoLuongDichVu(i,'Tru')"><strong>-</strong></span>
                        </div>
                        <input type="text" class="form-control border-0 text-center" aria-label="Username"
                          aria-describedby="basic-addon1" [(ngModel)]="_ngSoLuongDaChon[i]">
                        <div class="input-group-prepend">
                          <span class="input-group-text border-0 bg-transparent" id="basic-addon1"
                            (click)="ThayDoiSoLuongDichVu(i,'Cong')"><strong>+</strong></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2 text-danger d-flex align-items-center justify-content-center"
                      style="cursor: pointer;" (click)="XoaDichVuDaChon(i)">
                      <i class="bi bi-x-circle"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            @if(TongDichVu.length < DichVu.length){ <span class="text-info p-1 mt-1" style="cursor: pointer;"
              (click)="ThemDichVu()">
              <i class="bi bi-plus-circle me-1"></i>Thêm dịch vụ
              </span>
              }
          </div>

          <!-- Buttons -->
          <div class="d-flex justify-content-end mt-2">
            <button mat-raised-button routerLink="/tiepNhanDatTour" color="warn" class="mx-2">Đóng</button>
            <button mat-raised-button color="primary" (click)="suaDatTour()">Sửa</button>
          </div>
        </div>
      </div>

      <!-- End dịch vụ -->






      <app-footer-main-admin></app-footer-main-admin>
    </main>
  </div>
</div>