<app-second-header></app-second-header>
<div style="background-color: #ecf0f5;">
    <div class="container">
        <p class="text_tour">
            {{TourChiTiet.tenTour}}
        </p>
        <span class="badge bg-success">10.0 </span><span> Tuyệt vời | 1 đánh
            giá</span>
        <div class="row mt-2 tour_item ">
            <div class="col-md-7 col-lg-8 ">
                <div class="chitiet_img_tour">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="https://cdn2.ivivu.com/2019/02/13/14/tour-da-nang-cau-rong-750x390.jpg"
                                    class="d-block w-100" style="width: 100%; max-height: 450px; object-fit: cover;"
                                    alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="https://cdn2.ivivu.com/2021/05/07/10/ivivu-ba-na-hill-750x390.gif"
                                    class="d-block w-100" style="width: 100%; max-height: 450px; object-fit: cover;"
                                    alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="https://cdn2.ivivu.com/2021/05/05/16/ivivu-hoi-an-750x390.jpg"
                                    class="d-block w-100" style="width: 100%; max-height: 450px; object-fit: cover;"
                                    alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <div class="row __list_img_child p-1 d-flex justify-content-start " appDragScroll
                        [loadMoreImages]="loadMoreImages">
                        <div *ngFor="let image of images; let index = index" class="col-lg-1 ___img_element">
                            <img class="_list_img_element" [src]="image" [alt]="index.toString()">
                        </div>
                    </div>

                </div>
                <div class="infor_tour">
                    <div class="row">
                        <div class="col-6 col-md-3 col-lg-3"><i class="bi bi-geo-alt-fill"></i> <span>Buôn Ma
                                Thuột</span></div>
                        <div class="col-6 col-md-3 col-lg-3"><i class="bi bi-stopwatch"></i><span>Ngày 2 Đêm</span>
                        </div>
                        <div class="col-6 col-md-3 col-lg-3"><span>Phương tiện</span><span><i
                                    class="bi bi-car-front-fill"></i></span>
                        </div>
                        <div class="col-6 col-md-3 col-lg-3"><i class="bi bi-person"></i>
                            <span>Còn 10 chỗ</span>

                        </div>

                    </div>
                </div>
                <div class="content_tour bg-white mt-2 p-3">
                    <div [innerHTML]="TextMoTa"></div>
                </div>
            </div>
            <div class="col-md-5 col-lg-4 bg-secondary p-0 sticky-container">
                <div class="bg-white sticky-item">
                    <p class="title_lichtrinh">Lịch trình và giá tour</p>
                    <div class="lichTrinh_div">
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-2 item_lichTrinh">
                                <span>25/03</span>
                            </div>

                        </div>

                    </div>


                </div>
            </div>

        </div>
    </div>
</div>
<app-footer></app-footer>