<div>
    <div class="backGroundThumbnail">
        <app-header class="header"></app-header>
        <article class="home" id="home">
            <div class="home-text">
                <p class="title_thumbnail">ASAP Tour <br> <Span>Đến nơi: </Span> <span
                        class="Text_Typing text-warning"></span><span class="text-warning">|</span>

                </p>
                <p>Hành trình, lịch trình của bản thân: Bạn có thể chia sẻ chi tiết về chuyến đi của mình, từ lúc chuẩn
                    bị,
                    đến lúc di chuyển, đến lúc ở lại, đến lúc trở về. </p>
                <a href="#" class="home-btn">Đặt tour ngay</a>

            </div>
            <!-- <div>


            </div> -->
        </article>

    </div>

    <section class="content">
        <div class="img_bg_search">
            <app-tim-kiem-tour></app-tim-kiem-tour>
            <div class="row justify-content-center mb-2 w-100">
                <div class="col-6 col-md-6 col-lg-3 d-flex justify-content-center align-items-center">
                    <img src="https://static.vinwonders.com/2022/05/js2Ynthq-bg_sale_bottom_hd_icon1.png" alt="">
                    <div><span class="text-white">Giảm 2% khi đăng nhập</span></div>
                </div>
                <div class="col-6 col-md-6 col-lg-3 d-flex justify-content-center align-items-center mb-2">
                    <img src="https://static.vinwonders.com/2022/05/b6yGnk93-bg_sale_bottom_hd_icon2.png" alt="">
                    <span class="text-white">Giảm thêm 3% khi mua vé sớm</span>
                </div>
                <div class="col-6 col-md-6 col-lg-3 d-flex justify-content-center align-items-center mb-2">
                    <img src="https://static.vinwonders.com/2022/05/fA3GC3rg-bg_sale_bottom_hd_icon3.png" alt="">
                    <span class="text-white">Xác nhận qua SMS/Zalo tức thì</span>
                </div>
                <div class="col-6 col-md-6 col-lg-2 d-flex justify-content-center align-items-center mb-2">
                    <img src="https://static.vinwonders.com/2022/05/vmoYQI2j-bg_sale_bottom_hd_icon4.png" alt="">
                    <span class="text-white">Check in QR code tiện lợi</span>
                </div>
            </div>



        </div>


    </section>
    <div>

        <app-san-pham-giao-dien></app-san-pham-giao-dien>
    </div>
    <app-footer class="footer"></app-footer>
</div>