<div class="backGroundThumbnail">
    <app-header class="header"></app-header>
    <article class="home" id="home">
        <div class="home-text">
            <p class="title_thumbnail">ASAP Tour <br> <Span>Đến mọi nơi: </Span> <span
                    class="Text_Typing text-warning"></span><span class="text-warning">|</span>

            </p>
            <p>Hành trình, lịch trình của bản thân: Bạn có thể chia sẻ chi tiết về chuyến đi của mình, từ lúc chuẩn
                bị,
                đến lúc di chuyển, đến lúc ở lại, đến lúc trở về. </p>
            <a href="#" class="home-btn">Đặt tour ngay</a>
        </div>

    </article>

</div>





















<section class="content"><app-tim-kiem-tour></app-tim-kiem-tour></section>
<app-footer class="footer"></app-footer>