@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.backGroundThumbnail {
  background-image: url("/assets/Images/thumbnailHome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
.home-text {
  padding: 10% 20% 20% 20%;
  /* padding-left: 120px;
  padding-top: 100px;
  padding-right: 150px; */
}

.home-text .title_thumbnail {
  font-size: 65px;
  line-height: 1.2;
  color: white;
  font-family: "Paytone One", sans-serif;
  margin-bottom: 20px;
}
.home-text p {
  color: #ffffffbf;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}
.home-btn {
  display: inline-block;
  font-size: 16px;
  padding: 15px 30px;
  background-color: #ffffffbf;
  color: rgb(71, 11, 167);
  border-radius: 4px;
  transition: ease 0.4s;
  text-decoration: none;
}
.home-btn:hover {
  background-color: whitesmoke;
  transform: scale(1.1);
}
.Text_Typing {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content {
  padding: 0px;
}
.img_bg_search {
  background: linear-gradient(#5f5d9c, #a4ce95);
  /* background: radial-gradient(circle at center, #b7c9f2, #ccd3ca); */

  padding: 10px;
}
.img_bg_search .row {
  padding-bottom: 20px;
  width: 100%;
}
.img_bg_search .justify-content-center img {
  padding-right: 15px;
}

@media screen and (max-width: 600px) {
  .home-text .title_thumbnail {
    font-size: 40px;
  }
  .home-text span {
    font-size: 20px;
  }
  .home-text p {
    font-size: 13px;
  }
}
