<div class="container-fluid">
    <div class="row">
      <!-- Main Sidebar -->
      <app-main-sidebar class="p-0"></app-main-sidebar>
      <!-- End Main Sidebar -->
      <main class="main-content col-lg-10 col-md-9 col-sm-12 p-0 offset-lg-2 offset-md-3">
        <div class="main-navbar sticky-top bg-white">
          <!-- Main Navbar -->
          <app-main-navbar></app-main-navbar>
        </div>
        <!-- / .main-navbar -->



        <!-- Start dịch vụ -->
        <div class="main-content-container container-fluid px-4">
            <div class="page-header row no-gutters py-4">
              <div class="container">
                <h2>Sửa nhân viên</h2>
                <form [formGroup]="suaNhanVienForm">
                
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="">Tên nhân viên</label>
                                <input type="text" class="form-control"formControlName="tenNhanVien" placeholder="Nhập tên nhân viên">
                            </div>
                        </div>

                        <div class="col-lg-3">
                          <div class="form-group">
                            <label for="">Số điện thoại</label>
                            <input type="text" class="form-control" formControlName="soDienThoai">
                          </div>
                        </div>

                        <div class="col-lg-3">
                          <div class="form-group">
                            <label for="">CCCD</label>
                            <input type="text" class="form-control" formControlName="cccd">
                          </div>
                        </div>

                        <div class="col-lg-3">
                          <div class="form-group">
                            <label for="">Ngày sinh</label>
                            <input type="date" class="form-control" formControlName="ngaySinh">
                          </div>
                        </div>

                        <div class="col-lg-3">
                          <div class="form-group">
                            <label for="">Email</label>
                            <input type="text" class="form-control" formControlName="email">
                          </div>
                        </div>

                        <div class="col-lg-3">
                          <div class="form-group">
                            <label for="">Giới tính</label>
                            <input type="text" class="form-control" formControlName="gioiTinh">
                          </div>
                        </div>

                        <div class="col-lg-3">
                          <div class="form-group">
                            <label for="">Chức vụ</label>
                            <input type="text" class="form-control" formControlName="chucVu">
                          </div>
                        </div>

                        <div class="col-lg-3">
                          <div class="form-group">
                            <label for="">Địa chỉ</label>
                            <input type="text" class="form-control" formControlName="diaChi">
                          </div>
                        </div>


                        <div class="col-lg-3">
                          <div class="form-group">
                            <label for="">Ngày vào làm</label>
                            <input type="date" class="form-control" formControlName="ngayVaoLam">
                          </div>
                        </div>

                        <div class="col-lg-3">
                          <div class="form-group">
                            <label for="">Ảnh nhân viên</label>
                            <input type="file" class="form-control" formControlName="anhNhanVien">
                          </div>
                        </div>

                        <div class="col-lg-3">
                          <div class="form-group">
                            <label for="">Mật khẩu</label>
                            <input type="text" class="form-control" formControlName="matKhau">
                          </div>
                        </div>
                        
                        <div class="d-flex justify-content-end mt-2">
                          <button class="btn btn-secondary " routerLink="/quanLyNhanVien">Hủy sửa</button>
          
                     
                          <button class="btn btn-success mx-2" (click)="suaNhanVien()">Sửa nhân viên </button>
                      </div>
                        
                    </div>

                </form>
              </div>
            

            </div>
        </div>
        <!-- End dịch vụ -->





        <app-footer-main-admin></app-footer-main-admin>
      </main>
    </div>
  </div>