<app-second-header></app-second-header>
<div style="margin-top: 100px;">
    <main>
        <section class="background jumbotron" id="jumbotron">
            <div class="container">
                <h1>Thiền <br></h1>
                <p>Trải nghiệm tour du lịch tâm linh và thư giãn mới nhất.</p>
            </div>
        </section>

        <section class="sectionAbout clearfix">
            <h3>Dịch vụ chúng tôi bao gồm</h3>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="serviceBox">
                            <div class="service-icon">
                                <span><i class="fas fa-plane-departure"></i></span>
                            </div>
                            <h3 class="title">Vé máy bay</h3>
                            <p class="description">
                                Tất cả vé máy bay đều được mua cho bạn. Chúng tôi đảm bảo rằng chúng tôi có thể tìm được giá tốt nhất cho ngày bạn muốn đi du lịch.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="serviceBox">
                            <div class="service-icon">
                                <span><i class="fas fa-bed"></i></span>
                            </div>
                            <h3 class="title">Chỗ nghỉ ngơi</h3>
                            <p class="description">
                                Chỗ ở đã được đặt sẵn cho bạn. Chúng tôi cung cấp phòng ở các khách sạn 4 sao ở mọi địa điểm bạn sẽ ghé thăm.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="serviceBox">
                            <div class="service-icon">
                                <span><i class="fas fa-tasks"></i></span>
                            </div>
                            <h3 class="title">Lịch trình rõ ràng</h3>
                            <p class="description">
                                Chúng tôi cung cấp lịch trình với danh sách những việc cần làm mỗi ngày để bạn không bị lạc trong chuyến đi của mình. Tuy nhiên, bạn chọn xem bạn có tuân theo lịch trình hay không.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="banner">
            <div class="bannerContent">
                <h2>Du lịch tâm linh</h2>
                <p>Du lịch cho tâm hồn - An nhiên và tự tại.</p>
            </div>
        </section>

        <section class="travelOptions">
            <div class="album py-5 bg-light">
                <div class="container">
                    <h3>Các gói du lịch</h3>
                    <p>Công ty du lịch ASAP cung cấp 3 gói chuyến đi khác nhau với nhiều điểm đến cũng như thời gian hành trình đa dạng. Tất cả các gói hàng đều được các chuyên gia du lịch của chúng tôi lên kế hoạch cẩn thận cho bạn. Bằng cách này, bạn và gia đình không cần phải suy nghĩ và dính líu đến bất cứ điều gì cho kỳ nghỉ của mình. Mọi thứ sẽ được chúng tôi sắp xếp và bạn chỉ cần thu dọn hành lý và lên máy bay.</p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" alt="Bangkok Picture"
                                    style="height: 225px; width: 100%; display: block;"
                                    src="https://ik.imagekit.io/tvlk/blog/2023/05/chua-sac-tu-khai-doan-12.jpg?tr=dpr-2,w-675" data-holder-rendered="true">
                                <div class="card-body">
                                    <h6>Thăm quan các địa điểm tâm linh thực tế</h6>
                                    <p class="card-text"> Quý khách sẽ được tham quan các địa điểm du lịch linh thiêng nổi tiếng, tìm hiểu về kiến trúc và văn hóa liên quan đến từng thời kỳ lịch sử. Có hướng dẫn viên chuyên nghiệp, am hiểu về văn hóa đa lĩnh vực.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="thailand.html" role="button" class="btn btn-block btn-primary">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" alt="Sydney Picture"
                                    style="height: 225px; width: 100%; display: block;"
                                    src="https://hoaphuthanh.com.vn/upload/images/29177152_1626023860768094_4636299831755669504_n.jpg" data-holder-rendered="true">
                                <div class="card-body">
                                    <h6>Trải nghiệm trượt thác </h6>
                                    <p class="card-text"> Khách hàng sẽ được tham gia khóa trượt thác mới nhất tại Buôn Ma Thuột, an toàn được ưu tiên hàng đầu và hướng dẫn tận tâm. Hãy yên tâm khi lựa chọn dịch vụ. </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="australia.html" role="button" class="btn btn-block btn-primary">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" alt="Koh Phi Phi Picture"
                                    style="height: 225px; width: 100%; display: block;"
                                    src="https://i.imgur.com/ch1BSld.jpg" data-holder-rendered="true">
                                <div class="card-body">
                                    <h6>Châu Á</h6>
                                    <p class="card-text"> Gói chuyến đi này bao gồm thăm 4 quốc gia ở Nam Á:
                                        Việt Nam, Campuchia, Philippines và Thái Lan, dành khoảng một tuần cho mỗi nước
                                        họ. Hãy sẵn sàng để biết vẻ đẹp của châu Á. </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <a href="asia.html" role="button" class="btn btn-block btn-primary">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="testimonials">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-center m-auto">
                        <h3>Nhận xét từ khách hàng đã trải nghiệm</h3>
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item carousel-item active">
                                    <div class="img-box"><img src="https://i.imgur.com/Nb3yekw.jpg"
                                            alt="Kate Richards's picture"></div>
                                    <p class="testimonial">Hướng dẫn viên - Minh Nhựt - từ ASAP Travel đã giúp đỡ tôi
                                        chồng
                                        và tôi lên kế hoạch cho chuyến du lịch mạo hiểm trượt thác. Anh ấy thực sự tuyệt vời khi được làm việc cùng
                                        Và
                                        rất đáp ứng! Tôi RẤT muốn giới thiệu dịch vụ của họ. Họ đã thực hiện toàn bộ
                                        xử lý đơn giản và dễ dàng (đó là sự trợ giúp LỚN vì đây là lần đầu tiên chúng tôi thực hiện
                                        của
                                        Quốc gia). Mỗi bước đi, anh ấy đều có mặt để trả lời tất cả những thắc mắc của chúng tôi.
                                        câu hỏi.
                                        Cảm ơn một lần nữa Minh Nhựt!!!</p>
                                    <p class="overview"><b>Ngô Thừa Ân</b>, Giáo viên</p>
                                </div>
                                <div class="item carousel-item">
                                    <div class="img-box"><img src="https://i.imgur.com/guDg5Ya.jpg"
                                            alt="David Jones's picture"></div>Tôi không thể cảm ơn đội ngũ ASAP Travel
                                            bao nhiêu cho đủ
                                            vì đã luôn giúp đỡ chúng tôi, đặc biệt là trong chuyến đi vào phút cuối. Làm việc với họ là vậy
                                            dễ! Họ lắng nghe những gì tôi và gia đình muốn và đưa ra nhiều lựa chọn
                                            Và
                                            loại bỏ vấn đề đau đầu khi lập kế hoạch. Tôi thích nó... họ làm cho việc đi lại trở nên dễ dàng như
                                            các
                                            đoán công việc thực tế đã bị loại bỏ!
                                    <p class="overview"><b>Lý Minh Đức</b>, Kỹ sư công nghệ</p>
                                </div>
                                <div class="item carousel-item">
                                    <div class="img-box"><img src="https://i.imgur.com/lnwVigE.jpg"
                                            alt="Mandy Hutzz's picture"></div>
                                    <p class="testimonial">Cảm ơn một lần nữa vì tất cả sự giúp đỡ của bạn. Mọi thứ đều hoàn hảo. Thậm chí
                                        Của tôi
                                        mối quan tâm chỉ với một giờ giữa các chuyến bay nối chuyến đã ổn, chúng tôi đi bộ
                                        tắt
                                        một mặt phẳng và sang mặt phẳng tiếp theo. Xin đừng ngần ngại giới thiệu ASAP travel
                                        đến
                                        khách hàng của bạn. Đây là chuyến đi thứ hai của chúng tôi với họ và họ đúng
                                        các chuyên gia.
                                        Cảm ơn một lần nữa. Bạn luôn làm cho chúng tôi cảm thấy an toàn khi đi du lịch..</p>
                                    <p class="overview"><b>Trịnh Linh Chi</b>, Thiết kế</p>
                                </div>
                            </div>

                            <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                                <i class="fa fa-angle-left"></i>
                            </a>
                            <a class="carousel-control right carousel-control-next" href="#myCarousel"
                                data-slide="next">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer>
            <ul>
                <li><a href="http://www.facebook.com" alt="Facebook Page"><i class="fab fa-facebook"></i></a></li>
                <li><a href="http://www.twitter.com" alt="Twitter Page"><i class="fab fa-twitter"></i></a></li>
                <li><a href="http://www.instagram.com" alt="Instagram Page"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </footer>
    </main>
</div>
<app-footer></app-footer>